<div id="activity" style="padding-bottom: 0px">
    <h3 class="activity-header text-center" style="padding-top: 10px; margin-bottom: 10px;">Activity</h3>


    {% if user.is_authenticated %}
    <p class="text-center" style="margin-bottom: 10px;margin-top: 20px"><span style="text-transform: capitalize;"> {{ user.first_name }} </span>,
        Leave a comment below!</p>
    {% else %}
    <p style="margin-bottom: 10px;"><a href="{% url 'login' %}"> Login </a> to a leave a comment below!</p>
    {% endif %}


    <form method="POST" action="{% url 'activity-save' %}">

        {% csrf_token %}

        <textarea cols="10" id="id_message" maxlength="5000" placeholder="" name="message" rows="5"
                  style="height: 100px; margin-bottom: 0;"></textarea>

        <div class="um-field" style="padding-left: 0px; padding-right: 0px; padding-top: 0px">
            <div class="um-field-area">
                <button class="um-button btn-new" type="submit"
                        style="background: #3ba1da;height: 30px;padding-top: 6px !important;">
                    Submit
                </button>
            </div>
        </div>

        <input type="hidden" value="{{ user_id }}" name="user_id" id="id_user_id">
    </form>
    <br>

    <div style="max-height: 1000px; overflow-y: scroll; margin-top: 20px;">
        {% for comment in activities %}
        {% if comment.is_own_comment %}
        {% include 'profile/comment-self.html' %}
        {% else %}
        {% include 'profile/comment-others.html' %}
        {% endif %}
        {% endfor %}
    </div>

</div>