<div class="activity-feed-node activity-feed-node-right row">
    <div class="col-xs-12">
        <small class=" text-muted">
            <p class="title"> {{ comment.commenter }} </p>
        </small>
    </div>
    <hr class="hr-zero">
    <div class="col-xs-3 activity-avatar text-center pading-zero">
        <avatar>
            <a href="{% url 'profile' comment.profile_url %}">
                <img src="{{ comment.profile_picture }}"/>
            </a>
        </avatar>
        <br>
    </div>

        <div class="col-xs-12 time-right-margin">
        <div class="row" style="margin-right: 0px">
            <div class="col-xs-6">
                <small class="text-muted" style="padding-left: 15px">
                    <span class="glyphicon glyphicon-time"></span>April 07, 2016  11:37 pm
                </small>
            </div>
            <div class="col-xs-4">
                {% if comment.is_editable %}
        <form method="POST" action="{% url 'activity-delete' %}" class="comment-delete-form">
                        {% csrf_token %}
                        <input type="hidden" value="{{ comment.comment_id }}" name="comment_id">
                        <input type="hidden" value="{{ user_id }}" name="commentee_user_id">
                        <button type="submit" class="btn btn-danger pull-left waves-effect waves-effect" style="
                        float: right !important;
                        border: none;
                        color: #052E52;
                        background-color: #F7F7F7;
                        float: right !important;
                        margin-right: 15px;">
                            <span class="glyphicon glyphicon-trash" style="
                        color: #f75146;
                            ">
                            </span>
                        </button>
                    </form>
        {% endif %}
            </div>
        </div>
    </div>


</div>


