<div class="modal fade" id="payment-start-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="margin-top: 100px;">
        <div class="modal-content">
            <form action="" method="POST" class="form-inline" id="payment-start-form">

                {% csrf_token %}

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Specify your contribution amount for <em id="supported-student-name"></em>
                    <br><br>
                        <div class="text-center">
                            All funds raised with GradLift go strait to the school and student loan providers
                        </div>
                    </h4>

                </div>
                <div class="modal-body">
                    <br>
                    <div class="lb_wrapper">
                        <div class="form">
                            <div class="btn-levels-container">

                                <div data-toggle="buttons" class="payment-options text-center">

                                    {% for payment_option in contribution_reference_data.payment_options %}
                                    <label class="btn btn-success btn-circle btn-lg">
                                        <input type="radio" name="selected-payment" id="selected-payment" value="{{payment_option}}">
                                        ${{payment_option}}
                                    </label>
                                    {% endfor %}

                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <br>

                    <div class="alert alert-danger" role="alert" id="invalid-amount-error" style="display: none">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                      Select or enter a valid pledge amount
                    </div>
                    <div class="{% if IS_PAYMENT_RECURRING_ENABLED %} form-group {% else %} text-center {% endif %}">

                        <label class="sr-only" for="payment-amount">Amount (in dollars)</label>

                        <div class="input-group">
                            <div class="input-group-addon">Total $</div>
                            <input type="text" class="form-control" id="payment-amount" name="payment-amount" placeholder="Amount" required="true">
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>

                    {% if IS_PAYMENT_RECURRING_ENABLED %}

                        <div class="form-group">
                            <input
                                    name="is-recurring"
                                    id="is-recurring"
                                    type="checkbox"
                                    data-toggle="toggle"
                                    data-on="<i class='fa fa-play'></i> Recurring"
                                    data-off="<i class='fa fa-pause'></i> Not Recurring"
                                    data-onstyle="success"
                                    data-offstyle="info">
                        </div>

                        <div class="form-group">
                            <select id="contribution-type" name="contribution-type">
                                {% for contribution_type in contribution_reference_data.contribution_types %}
                                <option value="{{ contribution_type.code }}"> {{ contribution_type.name }} </option>
                                {% endfor %}
                            </select>
                        </div>

                    {% endif %}

                </div>
                <br>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" style="width: 100%; padding-left: 0; padding-right: 0;" id="start-payment-processing">Next Step</button>
                </div>
            </form>
        </div>
    </div>
</div>
