<div class="modal fade" id="{{ image_upload.modal_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="margin-top: 100px;">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ image_upload.title }}</h4>
      </div>

      <div class="modal-body">
          <div class="croppie-container" data-file-input-name="{{ image_upload.name }}"></div>

          <div class="text-center">
            <form method="post" action="" enctype="multipart/form-data" class="file-drag-upload" data-upload-type="profile-image-upload">

                <div class="file-drop">
                    <div style="color: white; margin-bottom: 10px;">
                        {{ image_upload.title }}
                        </div>

                    <a>Browse</a>
                    <input type="file" name="document" multiple />
                </div>

            </form>
        </div>

      </div>

      <div class="modal-footer">
            <button type="button" class="btn btn-default image-upload-back-bottom">Back</button>
            <button type="button" class="btn btn-default image-upload-close-bottom" data-dismiss="modal">Close</button>
            <button
                class="upload-result btn btn-success"
                data-action-url="{{ image_upload.upload_url }}"
                data-onsuccess="{{ image_upload.onsuccess }}"
                data-onerror="{{ image_upload.onerror }}"
                data-file-input-name="{{ image_upload.name }}"
                data-file-input-id="{{ image_upload.id }}"
                data-dismiss="modal"
                    >
                Accept
            </button>
      </div>

    </div>
  </div>
</div>