{% if college %}
<div class="um-col-1">

    {% if college.name %}
    <div class="um-field um-field-school" data-key="school">
        <div class="um-field-area">
            <div class="um-field-value">{{ college.name }}</div>
        </div>
    </div>
    {% endif %}

    {% if college.start_date %}
    <div class="um-field um-field-current_school_dates" data-key="current_school_dates">
        <div class="um-field-area">
            <div class="um-field-value">{{ college.start_date }} {% if college.graduation_date %} - {{ college.graduation_date }} {% endif %}</div>
        </div>
    </div>
    {% endif %}

    {% if college.degree %}
    <div class="um-field um-field-degreetype" data-key="degreetype">
        <div class="um-field-area">
            <div class="um-field-value">{{ college.degree }}</div>
        </div>
    </div>
    {% endif %}

    {% if college.major %}
    <div class="um-field um-field-major" data-key="major">
        <div class="um-field-area">
            <div class="um-field-value">{{ college.major }}</div>
        </div>
    </div>
    {% endif %}

    {% if college.subjects %}
    <div class="um-field um-field-mysubjects">
        <div class="um-field-label">
            <label>My Subjects</label>
            <div class="um-clear"></div>
        </div>
        <div class="um-field-area">
            <p class="um-field-value">{{ college.subjects }}</p>
        </div>
    </div>
    {% endif %}

    {% if college.projects %}
    <div class="um-field um-field-myprojects1" data-key="myprojects1">
        <div class="um-field-label">
            <label>My Projects</label>
            <div class="um-clear"></div>
        </div>
        <div class="um-field-area">
            <p class="um-field-value">{{ college.projects }}</p>
        </div>
    </div>
    {% endif %}

    {% if college.story %}
    <div class="um-field um-field-mystory" data-key="mystory">
        <div class="um-field-label">
            <label>My Story</label>
            <div class="um-clear"></div>
        </div>
        <div class="um-field-area">
            <p class="um-field-value">{{ college.story }}</p>
        </div>
    </div>
    {% endif %}
</div>
<br>
{% endif %}