{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Main Wrapper Start -->
    <div id="content" class="clearfix layout-">
        <div class="clearfix wrapper">
            <div class="normal-content">
                <div class="um um-profile um-viewing um-1101">
                    <div class="um-form">
                        {% with False as is_edit_profile %}
                        {% include 'profile/profile-header.html' %}
                        {% endwith %}

                        {% include 'navigation.html' %}

                        <div id="profile-view-body">
                            <div class="highlight-gradstory-background">
                                <div class="um-field" >
                                    <div class="um-field-label">
                                        <label>GradStory</label>
                                        <div class="um-clear"></div>
                                    </div>
                                    <div class="um-field-area">
                                        <p class="um-field-value">{{ profile.grad_story|default_if_none:"" }}</p>
                                    </div>
                                </div>
                                {% if profile.hobbies %}
                                <div class="um-field um-field-hobbies" data-key="hobbies">
                                    <div class="um-field-label">
                                        <label>Hobbies</label>
                                        <div class="um-clear"></div>
                                    </div>
                                    <div class="um-field-area">
                                        <p class="um-field-value">{{ profile.hobbies|default_if_none:"" }}</p>
                                    </div>
                                </div>
                                {% endif %}
                            </div>

                            <div class="row" style="margin-left: 0px;margin-right: 0px" >
                                <div class='um-profile-body main main-default col-md-8' style="padding-left: 0px;padding-right: 0px">
                                    <div class="gradline-container">
                                        <div class="gradline-main">
                                            <div class="um-row _um_row_1 " style="margin: 0 0 30px 0;">

                                                <div class="um-clear"></div>
                                                <br>

                                                {% with profile.high_school as high_school %}
                                                    {% include "profile/profile-high-school.html" %}
                                                {% endwith %}

                                                {% with profile.college_1 as college %}
                                                    {% include "profile/profile-college.html" %}
                                                {% endwith %}

                                                {% with profile.college_2 as college %}
                                                    {% include "profile/profile-college.html" %}
                                                {% endwith %}

                                                {% with profile.college_3 as college %}
                                                    {% include "profile/profile-college.html" %}
                                                {% endwith %}

                                                {% with profile.college_4 as college %}
                                                    {% include "profile/profile-college.html" %}
                                                {% endwith %}
                                                <hr>


                                                <div class="um-row _um_row_5 " style="margin: 0 0 30px 0;">
                                                    <div class="um-col-1">
                                                        {% if profile.volunteer_projects_internships %}
                                                        <div class="um-field">
                                                            <div class="um-field-label">
                                                                <label>Volunteer Projects / Internships</label>
                                                                <div class="um-clear"></div>
                                                            </div>
                                                            <div class="um-field-area">
                                                                <p class="um-field-value">{{ profile.volunteer_projects_internships|default_if_none:"" }}</p>
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                        {% if profile.more_about_me %}
                                                        <div class="um-field um-field-more_about_me">
                                                            <div class="um-field-label">
                                                                <label>More About Me</label>
                                                                <div class="um-clear"></div>
                                                            </div>
                                                            <div class="um-field-area">
                                                                <p class="um-field-value">{{ profile.more_about_me|default_if_none:"" }}</p>
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        <hr>
                                        </div>
                                    </div>
                                </div>
                            <aside class="col-md-4" style="padding-right: 0px;padding-left: 0px">
                                {% include 'profile/activity-feed.html' %}
                            </aside>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Inner Wrapper End -->
            </div>
            <!-- Main Wrapper End -->
        </div>
    </div>

{% endblock %}