{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Main Wrapper Start -->
    <div id="content" class="clearfix layout-fixed-width">
        <div class="clearfix wrapper">
            <div class="normal-content no-boxed">
                <div class="um um-login login">
                    <div class="um-form">
                        <form method="post" action="" autocomplete="off">

                            {% csrf_token %}
                            <br>


                            <div class="um-row _um_row_1 " style="margin: 0 0 30px 0;">

                                <div id="social-network-login">
                                    <a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}">
                                        <span class="fa fa-facebook"></span> Sign in with Facebook
                                    </a>

                                    <a class="btn btn-block btn-social btn-google" href="{% url 'social:begin' 'google-oauth2' %}">
                                        <span class="fa fa-google"></span> Sign in with Google
                                    </a>
                                </div>
                                <br>

                                <div class="um-col-131">

                                    <div class="um-field um-field-username">
                                        {{ form.non_field_errors }}
                                        <div class="um-field-label">
                                            <label for="{{ form.username.id_for_label }}" {% if form.username.errors or form.non_field_errors %} class="errorlist" {% endif %}>E-mail</label>
                                            <div class="um-clear"></div>
                                        </div>
                                        <div class="um-field-area">
                                            {{ form.username }}
                                        </div>
                                        {{ form.username.errors }}
                                    </div>
                                    <div class="um-field um-field-user_password">
                                        <div class="um-field-label">
                                            <label for="{{ form.password.id_for_label }}" {% if form.password.errors or form.non_field_errors %} class="errorlist" {% endif %}>Password</label>
                                            <div class="um-clear"></div>
                                        </div>
                                        <div class="um-field-area">
                                            {{ form.password }}
                                        </div>
                                        {{ form.password.errors }}
                                    </div>
                                </div>

                            </div>

                            <div class="um-col-alt">
                                <div class="um-field um-field-c">
                                    <div class="um-field-area">
                                        <label class="um-field-checkbox active">
                                        <input type="checkbox" name="rememberme" value="1" checked /><span class="um-field-checkbox-state"><i class="um-icon-android-checkbox-outline"></i></span>
                                        <span class="um-field-checkbox-option"> Keep me signed in</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="um-center"><input type="submit" value="Login" class="um-button btn-new-info" /></div>

                            </div>
                            <div class="um-col-alt-b">
                                <a href="{% url 'password-reset' %}" class="um-link-alt">Forgot your password?</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ULTIMATE MEMBER FORM INLINE CSS END -->
                <p style="text-align: center;">
                    <span style="font-size: 18px;">&#8220;Education is not preparation for life; education is life itself.&#8221;</span><br>
                    —John Dewey
                </p>
            </div>
            <!-- Inner Wrapper End -->
        </div>
        <!-- Main Wrapper End -->
    </div>

{% endblock %}