{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Main Wrapper Start -->
<div id="content" class="clearfix layout-">
    <div class="clearfix wrapper">
        <div class="normal-content ">
            <div class="um um-password um-um_password_id">
                <div class="um-form center">

                    <div class="um-field-block">
                        <div style="text-align:center">An email with a reset password link was sent to your email address. Please follow the instructions in the email to reset your password</div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Inner Wrapper End -->
    </div>
    <!-- Main Wrapper End -->
</div>

{% endblock %}