{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Main Wrapper Start -->
<div id="content" class="clearfix layout-">
    <div class="clearfix wrapper">
        <div class="normal-content ">
            <div class="um um-login login uimob500">
                <div class="um-form um-center">

                    {% if form %}
                    <form method="post" action="" autocomplete="off">

                            {% csrf_token %}

                            <div class="um-row _um_row_1 um-center" style="margin: 0 0 30px 0;">
                                <div class="um-col-131 um-center">
                                    {{ form.non_field_errors }}
                                    <div class="um-field um-field-username">

                                        <div class="um-field-label">
                                            <label for="{{ form.new_password1.id_for_label }}" {% if form.new_password1.errors or form.non_field_errors %} class="errorlist" {% endif %}>New Password</label>
                                            <div class="um-clear"></div>
                                        </div>
                                        <div class="um-field-area">
                                            {{ form.new_password1 }}
                                        </div>
                                        {{ form.new_password1.errors }}
                                    </div>
                                    <div class="um-field um-field-user_password">
                                        <div class="um-field-label">
                                            <label for="{{ form.new_password2.id_for_label }}" {% if form.new_password2.errors or form.non_field_errors %} class="errorlist" {% endif %}>New Password Confirmation</label>
                                            <div class="um-clear"></div>
                                        </div>
                                        <div class="um-field-area">
                                            {{ form.new_password2 }}
                                        </div>
                                        {{ form.new_password2.errors }}
                                    </div>

                                </div>


                            </div>
                        <div class="um-col-alt">
                            <div class="um-center"><input type="submit" value="Reset" class="um-button" /></div>
                        </div>

                        </form>
                        {% else %}
                            {{ title }}
                        {% endif %}
                </div>
            </div>
        </div>
        <!-- Inner Wrapper End -->
    </div>
    <!-- Main Wrapper End -->
</div>

{% endblock %}