{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Main Wrapper Start -->
    <div id="content" class="clearfix layout-fixed-width">
        <div class="clearfix wrapper">
            <div class="normal-content no-boxed">
                <h1 style="text-align: center;">Welcome to GradLift</h1>
                <div class="krown-column-row clearfix">
                    <div class="krown-column-container clearfix first  span4 clearfix">
                        <div class="um um-register register">
                            <div class="um-form">
                                <form method="post" action="">
                                    {% csrf_token %}

                                    <br>
                                    <div id="social-network-login">
                                        <a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}">
                                            <span class="fa fa-facebook"></span> Sign in with Facebook
                                        </a>

                                        <a class="btn btn-block btn-social btn-google" href="{% url 'social:begin' 'google-oauth2' %}">
                                            <span class="fa fa-google"></span> Sign in with Google
                                        </a>
                                    </div>
                                    <br>

                                    <div style="margin: 0 0 30px 0;">
                                        {{ form.non_field_errors }}
                                        <div>
                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.first_name.id_for_label }}" {% if form.first_name.errors %} class="errorlist" {% endif %}>First Name</label>
                                                </div>
                                                <div>
                                                    {{ form.first_name }}
                                                </div>
                                                {{ form.first_name.errors }}
                                            </div>
                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.last_name.id_for_label }}" {% if form.last_name.errors %} class="errorlist" {% endif %}>Last Name</label>
                                                </div>
                                                <div>
                                                    {{ form.last_name }}
                                                </div>
                                                {{ form.last_name.errors }}
                                            </div>
                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.email.id_for_label }}" {% if form.email.errors %} class="errorlist" {% endif %}>E-mail Address</label>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.email }}
                                                </div>
                                                {{ form.email.errors }}
                                            </div>
                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.password1.id_for_label }}" {% if form.password1.errors %} class="errorlist" {% endif %}>Password</label>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.password1 }}
                                                </div>
                                                {{ form.password1.errors }}
                                            </div>
                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.password2.id_for_label }}" {% if form.password2.errors %} class="errorlist" {% endif %}>Confirm Password</label>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.password2 }}
                                                </div>
                                                {{ form.password2.errors }}
                                            </div>
                                            {% if IS_REFERRAL_CODE_ENABLED %}
                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.referral_code.id_for_label }}" {% if form.referral_code.errors %} class="errorlist" {% endif %}>Referral Code</label>
                                                    <span class="um-tip um-tip-w" title="Enter a valid referral code">
                                                        <i class="um-icon-help-circled"></i>
                                                    </span>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.referral_code }}
                                                </div>
                                                {{ form.referral_code.errors }}
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="um-col-alt">
                                        <div class="um-left um-half"><input type="submit" value="Register" class="um-button btn-new" /></div>
                                        <div class="um-right um-half"><a href="{{ BASE_URL }}/login/" class="um-button btn-new-info">Login</a></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="krown-column-container clearfix last  span8 clearfix">
                        </p>
                        <p>&nbsp;</p>
                        <h4>Welcome to GradLift, the Do-It-Yourself Scholarship website that helps you raise money for past, present and future tuition! Conquer Your Student Debt!</h4>
                        <p>Our authenticated crowdfunding platform validates your information so that your supporters can feel 100% confident in helping you with your tuition and/or student debt. Your scholarship funds
                            <u><span style="font-weight: 500">go directly to your academic and financial institutions</span></u>. Please review the <a href="{% url 'faq' %}">Rulebook</a> and <a href="{% url 'terms-of-service' %}">Terms &amp; Conditions</a> pages for more info.</p>
                        <h4>Let’s Get Started. To Build Your Own Private Scholarship, There Are Three Main Steps.</h4>
                        <ol>
                            <li>Signup</li>
                            <li>Tell your story</li>
                            <li>Start fundraising!</li>
                        </ol>

                        <p>We will validate your account. <span style="font-weight: 500">This can be done anytime at your convenience.</span> Provide your 529 College Savings Plan,
                            Coverdell Education Savings Plan, tuition statement(s) or student loan statement(s).
                            You can raise money without this information but we will need it before sending your funds.</p>

                        <p>GradLift's fee is 5% from each contribution you receive. Stripe's credit card fee is 2.9% + $0.30 per transaction.</p>

                        <p>We are here to help you along the way and look forward to seeing you succeed! Email us anytime at <a href="mailto:WeCare@GradLift.com">WeCare@GradLift.com</a>.</p>
                        <h4>Where do your funds go?</h4>
                        <ol>
                            <li>High school students > 529 College Savings Plan</li>
                            <li>College Students > Tuition or Student Loans</li>
                            <li>Graduates > Student Loans</li>
                        </ol>
                        <p>
                    </div>
                </div>
            </div>
            <!-- Inner Wrapper End -->
        </div>
        <!-- Main Wrapper End -->
    </div>
{% endblock %}