/* ================= 
	RESET 
==================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
a:link,
a:visited {
	color: #d90000;
	text-decoration: none;
}

a:hover {
	color: #880000
}


.clear{
	clear: both;
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,800,400);

body { 
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-style: normal;
	padding: 20px;
	}


h1 { 
	color: #000;
	width: 96%;
	font-size: 2.2rem;
	margin: 0px 0px 1.4rem;
	
}

h2 {
	font-size: 1.6rem;
	margin: 0px 0px 1rem;
	color: #373737

}

p {
	font-size: 1rem;
	line-height: 1.4rem;
	margin: 0px 0px .8rem;

}

#container{
	width: 100%;
	position: relative;
	margin: auto;
	margin-top: 0px;
}
.mobileonly { display: block; }
.desktoponly { display: none; }


#logo { width: 90%; margin: .6em auto 2em; }
#logo img { width: 100%; height: auto; max-width: 500px; }

#logohome { width: 250px; height: auto }


@media only screen and (min-width: 640px) {
	
	.desktoponly { display: block; }	
	.mobileonly { display: none; }
	
	
	#container {
		width: 640px;
		margin-top: 26px;
		
	}
	#logo { width: 400px;}


	#content_container { width: 640px; margin: 40px auto; }

	#footer {
	}

	#footnote{
		font-size: 16px;
	}


	.footerhome {
		margin-top: 182.5px;
	}
	
}