{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Main Wrapper Start -->
    <div id="content" class="clearfix layout-right-sidebar">
        <div class="clearfix wrapper">
            <div>

                <section id="search-widget-4" class="widget search clearfix">
                    <form role="search" method="GET" id="discover-form" class="hover-show" action="{% url 'discover' %}" >
                        <input type="search" value="{{ search_term|default_if_none:'' }}" name="search-term" id="s" placeholder=" " />
                        <input id="submit_s" type="submit"/>
                    </form>
                </section>
                <div id="discover-previews-section" class="row-fluid profile-cards row" >
                    <!-- content-igintion_product.php -->
                    {% for profile_overview in profile_overviews %}

                        <div class="profile-overview">

                            {% include 'profile/profile-overview.html' %}

                        </div>

                    {% endfor %}

                </div>
                {% if profile_overviews_max_page_number > 1 %}
                <br>
                <nav class="pagination-cards"
                     id="discover-previews-pagination"
                     data-pagination-page-number="1"
                     data-pagination-max-page-number="{{ profile_overviews_max_page_number }}"
                     data-pagination-page-id="discover-previews-section">
                    <ul class="pager">
                        <li class="previous disabled"><a href class="pagination-previous"><span aria-hidden="true">&larr;</span> Previous</a></li>
                        <li class="next"><a href class="pagination-next">Next <span aria-hidden="true">&rarr;</span> </a></li>
                    </ul>
                </nav>
                {% endif %}
            </div>

            <!-- Inner Wrapper End -->
        </div>
        <!-- Main Wrapper End -->
    </div>
{% endblock %}