{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Main Wrapper Start -->
    <div id="content" class="clearfix layout-fixed-width">
        <div class="clearfix wrapper">
            <div class="normal-content no-boxed">
                <h1 align="center"> RULEBOOK</h1>
                <h3> Rulebook </h3>
                <div class="krown-accordion accordion large clearfix">
                    <section>
                        <h5> What is GradLift? </h5>
                        <div>
                            <ul>
                                <li>
                                    An authenticated crowdfunding platform that provides students with a tool to fundraise money directly towards school tuition or student loans. Whatever money you raise, we send directly to the source (school or loan or 529 savings account).
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> How much does it cost? </h5>
                        <div>
                            <ul>
                                <li>
                                    Membership is free. GradLift collects 5% of the funds you raise. Example: You raise $1,500 and GradLift will send $1,450 to your school, 529 college savings plan, or student loan provider. Based on the information you provide, we will select the most appropriate place to send your funds. We send funds every time you reach $1,500. There will also be credit card transactions fees deducated from your contributions (2.9% + $0.30 per transaction). This is the crowdfunding industry standard fee structure.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Our contact information:</h5>
                        <div>
                            <ul>
                                <li>
                                    WeCare@GradLift.com
                                </li>
                                <li>
                                    GradLift, Inc.
                                </li>
                                <li>
                                    Attn: Validation Dept
                                </li>
                                <li>
                                    PO BOX 6920
                                </li>
                                <li>
                                    Woodland Hills, CA 91367
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>

                <h3> Profile Rulebook </h3>
                <div class="krown-accordion accordion large clearfix">
                    <section>
                        <h5> What is a Profile? </h5>
                        <div>
                            <ul>
                                <li>
                                    Your public profile is used for raising funds and to show off your student achievements. You will also be able to receive comments and support from your Backers.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> What are your terms and conditions? </h5>
                        <div>
                            <ul>
                                <li>
                                    <a href="{% url 'terms-of-service' %}"> Terms of Service</a>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> How does my Profile become featured? </h5>
                        <div>
                            <ul>
                                <li>
                                    Write an inspirational story, highlight major accomplishments, get comments and people to support you by funding your account. We will also feature a few random members and also offer premium memberships with special features such as guaranteed home page placement of your profile summary.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> How do I promote my Profile? </h5>
                        <div>
                            <ul>
                                <li>
                                    Use Facebook, Twitter, Google Plus, email, LinkedIn to raise awareness. Then get your family and friends to share your post on their own social media profiles to improve the viral networking nature of crowd funding. Throw a birthday or graduation party and let people know that you are raising funds to free yourself of tuition and/or student debt.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Why is my funding amount more than the goal I asked for? </h5>
                        <div>
                            <ul>
                                <li>
                                    We adjust the amount to cover transactions fees as outlined in the terms and conditions page. <a href="{% url 'terms-of-service' %}"> Terms of Service</a>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> What does GradLift charge in fees? </h5>
                        <div>
                            <ul>
                                <li>
                                    Gradlift does not charge members by sending bills, the fees are deducted from the contributions. GradLift’s fees are 5%, which is industry standard.  Then, a transaction fee is deducted from our payment processor and is currently set at 2.9% plus $0.30 per transaction.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> I have $80,000 in student loans, why am I only able to raise less than that? </h5>
                        <div>
                            <ul>
                                <li>
                                    You may only raise money towards the tuition portion of debt on GradLIft. Other costs are not allowed to be included at this time. Please email us if you feel there needs to be a correction to your goal amount.
                                </li>
                                <li>
                                    With GradLift, tuition and debt is Validated.  People are able to fund with confidence knowing that all money is going to tuition expenses and not miscellaneous school costs. Student loan money in general and can be spent on anything outside of school and are not part of the funds needed to attend college.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> When do my funds get distributed to my academic or financial intuition? </h5>
                        <div>
                            <ul>
                                <li>
                                    GradLift will only distribute funds every time you raise $1,500, unless the amount owed is less than $1,500. For example, if you raise $2,500, GradLift will send the first $1,500 to the financial or academic institution ranked first on your account by GradLift, and then wait until you reach the last $1,000 to send the rest. If your account remains inactive for 6 months, we will disperse the remaining funds and require a new application if you return.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> How long can I raise funds on GradLift? </h5>
                        <div>
                            <ul>
                                <li>
                                    There are no deadlines. You can raise money as long as you have student debt left to be funded! If your account remains inactive for 6 months, GradLift will send the remaining balance of raised funds off to your academic and/or financial institutions.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Why does GradLift make me use my real name? </h5>
                        <div>
                            <ul>
                                <li>
                                    We are validating that you are a student with real school costs. Part of the process of being a legitimate way of raising money for student debt is using your real name.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Who will fund me? </h5>
                        <div>
                            <ul>
                                <li>
                                    We encourage you to reach out to family, friends, classmates, colleagues, strangers with similar interests, or anyone else who may be interested in your story.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Tax Implications </h5>
                        <div>
                            <ul>
                                <li>
                                    Contributions are NOT tax-deductible for the contributors.
                                </li>
                                <li>
                                    We are not able to provide individual tax advice.
                                </li>
                                <li>
                                    If you are a current degree candidate, you may be able to receive contributions toward current tuition amounts without increasing your taxable income.
                                </li>
                                <li>
                                    Funds received are gifts and are generally subjected to being taxed. Tuition reimbursements are always taxed. Please check tax laws in your state to see what you need to report.
                                </li>
                                <li>
                                    At this time, GradLift is not the best platform for receiving large single contributions. For example, if your parents want to pay up to $14,000 per year towards your higher education, it is better that they pay directly to your academic institution to reduce the overall tax burden on those funds.
                                </li>
                                <li>
                                    See IRS link here for more information: <a href="http://www.irs.gov/uac/Publication-970,-Tax-Benefits-for-Education-1"> http://www.irs.gov/uac/Publication-970,-Tax-Benefits-for-Education-1. </a>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Why do I submit multiple forms to create my account? </h5>
                        <div>
                            <ul>
                                <li>
                                    We are an authenticated tuition crowdfunding platform which means people can help you raise money knowing that all finds are going straight to real tuition or debt. This is a little more work upfront, but it erases any doubt for anyone that wants to fund you and eliminates fraud or the use of funds for their unintended purposes.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> What kind of information should I list on my Profile? </h5>
                        <div>
                            <ul>
                                <li>
                                    The Profile allows students to easily list up to five colleges. Information that should be listed on the Profile should be GPA (optional), degrees, and past accomplishments. The Profile adds structure to easily allows you to add and edit accomplishments to your Profile.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> What information will be public? </h5>
                        <div>
                            <ul>
                                <li>
                                    As a GradLift user, the online profile page you publish will be available to the public on the Internet and on search engines. Your actions are public if displayed on your profile page. Some sensitive financial information, such as total tuition amount owed, student debt total amount, and amount raised by contributors to date, will be public and is displayed on your private dashboards. No other sensitive financial information will be displayed. Your amount raised will be displayed publicly. Your transcript will not be displayed publicly but it will be used to validate and authenticate you as a real student with real student loans and tuition. If you choose to put information on your public profile page, it must be accurate and inline with your official student transcript, student loans statements, and student account summary, otherwise GradLift retains the right to remove your profile page indefinitely for review.
                                </li>
                            </ul>
                        </div>
                    </section>

                </div>

            <h3> General Rulebook </h3>
                <div class="krown-accordion accordion large clearfix">
                    <section>
                        <h5> Who is GradLIft? </h5>
                        <div>
                            <ul>
                                <li>
                                    GradLift provides the only platform that enables students and graduates to raise money for tuition. With our authenticated crowdfunding platform, friends, family, and colleagues can help you build up private scholarships knowing that the funds will be paid directly to your university and loan providers.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> What is authenticated crowdfunding? </h5>
                        <div>
                            <ul>
                                <li>
                                    Crowd funding is funding a cause by raising contributions from a large number of people. Authentication is the part that verifies everything to make sure there is no scam involved and that the money raised is used for its intended purpose.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Does Gradlift review Profiles before launch?</h5>
                        <div>
                            <ul>
                                <li>
                                    Yes! GradLift ensures authenticity and verifies transcripts, student accounts, student debt, tuition and content, or any mix thereof.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Can student debt amounts be altered after creation?</h5>
                        <div>
                            <ul>
                                <li>
                                    Yes. Email us with any questions at WeCare@GradLift.com.  We recommend doing this twice per year or at each semester change to reflect new academic achievements and student debt.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> If I have $5,000 in student debt, is GradLift for me?</h5>
                        <div>
                            <ul>
                                <li>
                                    Yes, of course! GradLift is the only scholarship that will never turn you away (unless you violate the rules). It was created for anyone who needs an extra hand with tuition no matter how big or small.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Who is eligible to sign up for GradLift?</h5>
                        <div>
                            <ul>
                                <li>
                                    Anyone age 18 or over who can be verified as a real student with real tuition debt or current tuition payments. Students under 18 need to provide their parents names, email, phone number.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Are companies allowed to fund accounts?</h5>
                        <div>
                            <ul>
                                <li>
                                    Yes! Anyone can contribute to GradLift members.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> What can I raise funds for?</h5>
                        <div>
                            <ul>
                                <li>
                                    Students are currently allowed to raise funds for student tuition, student loan debt, and some other qualified school costs.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> What is Facebook Connect?</h5>
                        <div>
                            <ul>
                                <li>
                                    Facebook Connect allows a quick login process using your Facebook account.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Who is Stripe?</h5>
                        <div>
                            <ul>
                                <li>
                                    Stipe is the company we use to process payments on GradLift. Stripe is a secure way to accept credit card and debit card payments online. Learn more at <a href="www.stripe.com">www.stripe.com</a>.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Is Stripe secure?</h5>
                        <div>
                            <ul>
                                <li>
                                    Stripe uses the highest security standards. <a href="https://stripe.com/help/security"> Click here to learn more about Stripes security infrastructure </a>.
                                </li>
                            </ul>
                        </div>
                    </section>

                </div>

            <h3> Contributor Rulebook </h3>
                <div class="krown-accordion accordion large clearfix">
                    <section>
                        <h5> How can I find students to fund? </h5>
                        <div>
                            <ul>
                                <li>
                                    Use the search bar or category search, or see the featured and recently added students on the homepage.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Is there a way to donate anonymously? </h5>
                        <div>
                            <ul>
                                <li>
                                    Yes, just click the fund anonymous box while funding.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> How do I fund? </h5>
                        <div>
                            <ul>
                                <li>
                                    Find the person you want to fund and click the ‘SUPPORT NOW’ button! Thanks for lightening the load of student debt! We love you!
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Is my fund amount publicly displayed? </h5>
                        <div>
                            <ul>
                                <li>
                                    Yes! You can even leave a nice comment with the fund! If anonymous, your name will NOT appear.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Can I cancel a funding made to a student? </h5>
                        <div>
                            <ul>
                                <li>
                                    No, once a fund is sent it is distributed to the student’s scholarship fund. There are no refunds unless fraud is detected.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> How do I know a project creator is who they claim they are? </h5>
                        <div>
                            <ul>
                                <li>
                                    We Validate all students on GradLift.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> How can I message the student? </h5>
                        <div>
                            <ul>
                                <li>
                                    You can use the comment section on their Profile.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Can I fund the same student more than once? </h5>
                        <div>
                            <ul>
                                <li>
                                    Yes!  We can even set up a monthly payment schedule for you!
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Is my funding tax deductible? </h5>
                        <div>
                            <ul>
                                <li>
                                    No. Please see IRS Publication 970 for more information.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h5> Tax Implications </h5>
                        <div>
                            <ul>
                                <li>
                                    Contributions are NOT tax-deductible for the backers/contributors.
                                </li>
                                <li>
                                    We are not able to provide individual tax advice.
                                </li>
                                <li>
                                    If you are a current degree candidate, you may be able to receive contributions toward current tuition amounts without increasing your taxable income.
                                </li>
                                <li>
                                    Funds received are gifts and are generally subjected to being taxed. Tuition reimbursements are always taxed. Please check tax laws in your state to see what you need to report.
                                </li>
                                <li>
                                    At this time, GradLift is not the best platform for receiving large single contributions. For example, if your parents want to pay up to $14,000 per year towards your higher education, it is better that they pay directly to your academic institution to reduce the overall tax burden on those funds.
                                </li>
                                <li>
                                    See IRS link here for more information: <a href="http://www.irs.gov/uac/Publication-970,-Tax-Benefits-for-Education-1"> http://www.irs.gov/uac/Publication-970,-Tax-Benefits-for-Education-1. </a>
                                </li>
                            </ul>
                        </div>
                    </section>

                </div>

            </div>
            <!-- Inner Wrapper End -->
        </div>
        <!-- Main Wrapper End -->
    </div>

{% endblock %}