<ul class="nav nav-pills nav-justified info middle-nav profile-nav">
    {% if is_logged_in_user %}
    <li role="presentation" class="profile-view">
        <a class="waves-effect waves-effect" href="{% url 'profile' profile_header.profile_link %}"><span class="um-faicon-user"></span>&nbsp Profile</a>
    </li>
    <li role="presentation" class="gradlift-scholarship">
        <a href="{% url 'gradlift-scholarship' %}"><span class="um-faicon-graduation-cap"></span>&nbsp Your GradLift Scholarship</a>
    </li>
    <li role="presentation" class="profile-edit">
        <a href="{% url 'profile-edit' %}"><span class="fa fa-pencil-square-o"></span>&nbsp Edit Profile</a>
    </li>
    <li role="presentation" class="dropdown account">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true"><span class="um-faicon-cog"></span>&nbsp Account
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" style="width: 100%;color: #387DB8">
            <li>
                <a href="{% url 'account-general' %}"><span class="um-faicon-user"></span>&nbsp General</a>
            </li>
            <li>
                <a href="{% url 'account-funds-received' %}"><span class="fa fa-university"></span>&nbsp Funds Received</a>
            </li>
            <li>
                <a href="{% url 'account-backed-students' %}"><span class="fa fa-credit-card-alt"></span>&nbsp Backed Students</a>
            </li>
            <li role="separator" class="divider">
            </li>
            <li>
                <a href="{% url 'account-password-reset' %}"><span class="um-faicon-asterisk"></span>&nbsp Change Password</a>
            </li>
            <li>
            <a href="{% url 'account-disable-account' %}"><span class="fa fa-ban"></span>&nbsp Disable Account</a>
            </li>
        </ul>
    </li>
    {% endif %}
</ul>