{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

        <div id="content" class="clearfix layout-fixed-width">
    <div class="clearfix wrapper">
        <div class="normal-content no-boxed">
            <p>
            <div id="iub-pp-container">
                <div class="iubenda_legal_document">
                    <h1>Privacy Policy of <strong>gradlift.com</strong></h1>
                    <p>This Application collects some Personal Data from its Users.</p>
                    <h2>Data Controller and Owner</h2>
                    <p>
                        GradLift, Inc.,<br>
                        wecare@gradlift.com<br>
                    </p>
                    <h2>Types of Data collected</h2>
                    <p>
                        Among the types of Personal Data that this Application collects, by itself or through third parties, there are:
                        first name, last name, gender, date of birth, phone number, company name, profession, address, fax number, country, state, email address, ZIP/Postal code, Cookies, Usage data, city, username, password, province, Social Security number (SSN), picture and workplace.
                    </p>
                    <p>Other Personal Data collected may be described in other sections of this privacy policy or by dedicated explanation text contextually with the Data collection.<br>The Personal Data may be freely provided by the User, or collected automatically when using this Application.<br>Any use of Cookies - or of other tracking tools - by this Application or by the owners of third party services used by this Application, unless stated otherwise, serves to identify Users and remember their preferences, for the sole purpose of providing the service required by the User.<br>Failure to provide certain Personal Data may make it impossible for this Application to provide its services.</p>
                    <p>Users are responsible for any Personal Data of third parties obtained, published or shared through this Application and confirm that they have the third party's consent to provide the Data to the Owner.</p>
                    <h2>Mode and place of processing the Data</h2>
                    <h3>Methods of processing</h3>
                    <p>The Data Controller processes the Data of Users in a proper manner and shall take appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.<br>The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Data Controller, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of the site (administration, sales, marketing, legal, system administration) or external parties (such as third party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Data Controller at any time.</p>
                    <h3>Place</h3>
                    <p>The Data is processed at the Data Controller's operating offices and in any other places where the parties involved with the processing are located. For further information, please contact the Data Controller.</p>
                    <h3>Retention time</h3>
                    <p>The Data is kept for the time necessary to provide the service requested by the User, or stated by the purposes outlined in this document, and the User can always request that the Data Controller suspend or remove the data.</p>
                    <h2>The use of the collected Data</h2>
                    <p>
                        The Data concerning the User is collected to allow the Owner to provide its services, as well as for the following purposes:
                        Registration and authentication, Handling payments, Access to third party services' accounts, Contacting the User, Displaying content from external platforms, Analytics, Interaction with external social networks and platforms, Remarketing and Behavioral Targeting, Interaction with online survey platforms, Managing contacts and sending messages, Hosting and backend infrastructure, Advertising, Content commenting, Backup saving and management, Commercial affiliation and SPAM protection.
                    </p>
                    <p>The Personal Data used for each purpose is outlined in the specific sections of this document.</p>
                    <h2>Facebook permissions asked by this Application</h2>
                    <p>This Application may ask for some Facebook permissions allowing it to perform actions with the User's Facebook account and to retrieve information, including Personal Data, from it.</p>
                    <p>For more information about the following permissions, refer to the <a href="https://developers.facebook.com/docs/authentication/permissions/" target="_blank">Facebook permissions documentation</a> and to the <a href="https://www.facebook.com/about/privacy/" target="_blank">Facebook privacy policy</a>.</p>
                    <p>The permissions asked are the following:</p>
                    <h3>Basic information</h3>
                    <p>By default, this includes certain User’s Data such as id, name, picture, gender, and their locale. Certain connections of the User, such as the Friends, are also available. If the User has made more of their Data public, more information will be available.</p>
                    <h3>About Me</h3>
                    <p>Provides access to the 'About Me' section of the profile.</p>
                    <h3>Access Friend Lists</h3>
                    <p>Provides access to any friend lists the user created</p>
                    <h3>Access private data</h3>
                    <p>Access the user's and friends' private data</p>
                    <h3>Access Requests</h3>
                    <p>Provides read access to the user's friend requests</p>
                    <h3>App Notifications</h3>
                    <p>Send notifications</p>
                    <h3>Birthday</h3>
                    <p>Provides access to the birthday.</p>
                    <h3>Contact email</h3>
                    <p>Access the user's contact email address.</p>
                    <h3>Current City</h3>
                    <p>Provides access to the User's current location.</p>
                    <h3>Education History</h3>
                    <p>Provides access to education history</p>
                    <h3>Email</h3>
                    <p>Provides access to the User's primary email address</p>
                    <h3>Events</h3>
                    <p>Provides access to the list of events the user is attending</p>
                    <h3>Hometown</h3>
                    <p>Provides access to the user's hometown.</p>
                    <h3>List of Friends</h3>
                    <h3>Photos</h3>
                    <p>Provides access to the photos the user has uploaded, and photos the user has been tagged in.</p>
                    <h3>Publish App Activity</h3>
                    <p>Allows the app to publish to the Open Graph using&nbsp;Built-in Actions, Achievements,&nbsp;Scores, or&nbsp;Custom Actions. The app can also publish other activity which is detailed in the Facebook's Publishing Permissions&nbsp;document.</p>
                    <h3>Publish to the Wall</h3>
                    <p>Enables the app to post content, comments, and likes to a user's stream and to the streams of the user's friends.</p>
                    <h3>Share</h3>
                    <p>Share items on the user's behalf.</p>
                    <h3>Upload Photos</h3>
                    <p>Add or modify user's photos.</p>
                    <h3>Video upload</h3>
                    <p>Add or modify user's videos.</p>
                    <h3>Videos</h3>
                    <p>Provides access to the videos the user has uploaded and videos the user has been tagged in.</p>
                    <h3>Work History</h3>
                    <p>Provides access to work history.</p>
                    <h2>Detailed information on the processing of Personal Data</h2>
                    <p>Personal Data is collected for the following purposes and using the following services:</p>
                    <h3>Access to third party services' accounts</h3>
                    <p>This type of services allows this Application to access Data from your account on a third party service and perform actions with it.<br>
                        These services are not activated automatically, but require explicit authorization by the User.
                    </p>
                    <h4>Access to the Stripe account (Stripe Inc)</h4>
                    <p>This service allows this Application to connect with the User's account on Stripe, provided by Stripe, Inc.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://stripe.com/us/privacy" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Access to the Twitter account (Twitter, Inc.)</h4>
                    <p>This service allows this Application to connect with the User's account on the Twitter social network, provided by Twitter, Inc.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="http://twitter.com/privacy" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Access to the Dropbox account (Dropbox, Inc.)</h4>
                    <p>This service allows this Application to connect with the User's account on Dropbox, provided by Dropbox, Inc.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://www.dropbox.com/privacy" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Access to the Facebook account (This Application)</h4>
                    <p>This service allows this Application to connect with the User's account on the Facebook social network, provided by Facebook, Inc.</p>
                    <p>
                        Permissions asked:
                        About Me, Access Friend Lists, Access private data, Access Requests, App Notifications, Birthday, Contact email, Current City, Education History, Email, Events, Hometown, List of Friends, Photos, Publish App Activity, Publish to the Wall, Share, Upload Photos, Video upload, Videos and Work History.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://www.facebook.com/policy.php" target="_blank">Privacy Policy</a>
                    </p>
                    <h3>Advertising</h3>
                    <p>This type of services allows User Data to be utilized for advertising communication purposes displayed in the form of banners and other advertisements on this Application, possibly based on User interests.<br>
                        This does not mean that all Personal Data are used for this purpose. Information and conditions of use are shown below.<br>
                        Some of the services listed below may use Cookies to identify Users or they may use the behavioral retargeting technique, i.e. displaying ads tailored to the User’s interests and behavior, including those detected outside this Application. For more information, please check the privacy policies of the relevant services.
                    </p>
                    <h4>Google AdSense (Google Inc.)</h4>
                    <p>Google AdSense is an advertising service provided by Google Inc. This service uses the “Doubleclick” Cookie, which tracks use of this Application and User behavior concerning ads, products and services offered.<br>
                        Users may decide to disable all the Doubleclick Cookies by clicking on: <a href="http://www.google.com/settings/ads/onweb/optout">google.com/settings/ads/onweb/optout</a>.
                    </p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="http://google.com/privacy/ads/" target="_blank">Privacy Policy</a>
                        –
                        <a href="http://www.google.com/settings/ads/onweb/optout">Opt Out</a>
                    </p>
                    <h4>Direct Email Marketing (DEM) (This Application)</h4>
                    <p>This Application uses the User Data to propose services and products provided by third parties or unrelated to the product or service provided by this Application.</p>
                    <p>
                        Personal Data collected:
                        email address.
                    </p>
                    <h4>Amazon Mobile Ads (Amazon)</h4>
                    <p>Amazon Mobile Ads is an advertising service provided by Amazon.com, Inc.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://www.amazon.com/gp/help/customer/display.html/ref=UTF8&amp;nodeId=468496" target="_blank">Privacy Policy</a>
                    </p>
                    <h3>Analytics</h3>
                    <p>The services contained in this section enable the Owner to monitor and analyze web traffic and can be used to keep track of User behavior.</p>
                    <h4>Wordpress Stats (Automattic Inc.)</h4>
                    <p>Wordpress Stats is an analytics service provided by Automattic Inc.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="http://automattic.com/privacy/" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Google Tag Manager (Google)</h4>
                    <p>Google Tag Manager is an analytics service provided by Google, Inc.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="http://www.google.com/intl/en/policies/privacy/" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Google Analytics (Google Inc.)</h4>
                    <p>Google Analytics is a web analysis service provided by Google Inc. (“Google”). Google utilizes the Data collected to track and examine the use of this Application, to prepare reports on its activities and share them with other Google services.<br>
                        Google may use the Data collected to contextualize and personalize the ads of its own advertising network.
                    </p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="http://www.google.com/intl/en/policies/privacy/" target="_blank">Privacy Policy</a>
                        –
                        <a href="http://tools.google.com/dlpage/gaoptout?hl=en" onclick="javascript:return tryFunc('tryGaOptOut',{href:'http://tools.google.com/dlpage/gaoptout?hl=en'})" target="_blank">Opt Out</a>
                    </p>
                    <h4>Google Analytics with anonymized IP (Google Inc.)</h4>
                    <p>Google Analytics is a web analysis service provided by Google Inc. (“Google”). Google utilizes the Data collected to track and examine the use of this Application, to prepare reports on its activities and share them with other Google services.<br>
                        Google may use the Data collected to contextualize and personalize the ads of its own advertising network.<br>
                        This integration of Google Analytics anonymizes your IP address. It works by shortening Users' IP addresses within member states of the European Union or in other contracting states to the Agreement on the European Economic Area. Only in exceptional cases will the complete IP address be sent to a Google server and shortened within the US.
                    </p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://www.google.com/intl/en/policies/privacy/" target="_blank">Privacy Policy</a>
                        –
                        <a href="https://tools.google.com/dlpage/gaoptout?hl=en" onclick="javascript:return tryFunc('tryGaOptOut',{href:'https://tools.google.com/dlpage/gaoptout?hl=en'})" target="_blank">Opt Out</a>
                    </p>
                    <h4>Google AdWords conversion tracking (Google Inc.)</h4>
                    <p>Google AdWords conversion tracking is an analytics service provided by Google Inc. that connects data from the Google AdWords advertising network with actions performed on this Application.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="http://www.google.com/intl/en/policies/privacy/" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Facebook Ads conversion tracking (Facebook, Inc.)</h4>
                    <p>Facebook Ads conversion tracking is an analytics service provided by Facebook, Inc. that connects data from the Facebook advertising network with actions performed on this Application.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://www.facebook.com/about/privacy/" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Analytics collected directly (This Application)</h4>
                    <p>This Application uses an internal analytics system that does not involve third parties.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <h3>Backup saving and management</h3>
                    <p>This type of services allows the Owner to save and manage backups of this Application on external servers managed by the service provider itself. The backups may include the source code and content as well as the data that the User provides to this Application.</p>
                    <h4>Backup on Dropbox (Dropbox, Inc.)</h4>
                    <p>Dropbox is a service to save and manage backups provided by Dropbox Inc.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://www.dropbox.com/privacy#privacy" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Backup on Google Drive (Google)</h4>
                    <p>Google Drive is a service to save and manage backups provided by Google Inc.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://support.google.com/drive/answer/2450387?hl=en" target="_blank">Privacy Policy</a>
                    </p>
                    <h3>Commercial affiliation</h3>
                    <p>This type of services allows this Application to display advertisements for third party products or services. Ads can be displayed either as advertising links or as banners using various kinds of graphics.<br>
                        Clicks on the icon or banner posted on the Application are tracked by the third-party services listed below, and are shared with this Application.<br>
                        For details of which data are collected, please refer to the privacy policy of each service.
                    </p>
                    <h4>Amazon Affiliation (Amazon)</h4>
                    <p>Amazon Affiliation is a commercial affiliation service provided by Amazon.com Inc.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https//www.amazon.com/gp/help/customer/display.html/ref=hp_rel_topic?ie=UTF8&amp;nodeId=468496" target="_blank">Privacy Policy</a>
                    </p>
                    <h3>Contacting the User</h3>
                    <h4>Contact form (This Application)</h4>
                    <p>By filling in the contact form with their Data, the User authorizes this Application to use these details to reply to requests for information, quotes or any other kind of request as indicated by the form’s header.</p>
                    <p>
                        Personal Data collected:
                        address, company name, country, date of birth, email address, fax number, first name, gender, last name, phone number, profession, state, various types of Data as specified in the privacy policy of the service and ZIP/Postal code.
                    </p>
                    <h4>Phone contact (This Application)</h4>
                    <p>Users that provided their phone number might be contacted for commercial or promotional purposes related to this Application, as well as for fulfilling support requests.</p>
                    <p>
                        Personal Data collected:
                        phone number.
                    </p>
                    <h4>Mailing List or Newsletter (This Application)</h4>
                    <p>By registering on the mailing list or for the newsletter, the User’s email address will be added to the contact list of those who may receive email messages containing information of commercial or promotional nature concerning this Application. Your email address might also be added to this list as a result of signing up to this Application or after making a purchase.</p>
                    <p>
                        Personal Data collected:
                        city, Cookies, country, date of birth, email address, first name, gender, last name, phone number, profession, state, Usage data and ZIP/Postal code.
                    </p>
                    <h3>Content commenting</h3>
                    <p>Content commenting services allow Users to make and publish their comments on the contents of this Application.<br>
                        Depending on the settings chosen by the Owner, Users may also leave anonymous comments. If there is an email address among the Personal Data provided by the User, it may be used to send notifications of comments on the same content. Users are responsible for the content of their own comments.<br>
                        If a content commenting service provided by third parties is installed, it may still collect web traffic data for the pages where the comment service is installed, even when users do not use the content commenting service.
                    </p>
                    <h4>Facebook Comments (Facebook, Inc.)</h4>
                    <p>Facebook Comments is a content commenting service provided by Facebook, Inc. enabling the User to leave comments and share them on the Facebook platform.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="http://www.facebook.com/privacy/explanation.php" target="_blank">Privacy Policy</a>
                    </p>
                    <h3>Displaying content from external platforms</h3>
                    <p>This type of services allows you to view content hosted on external platforms directly from the pages of this Application and interact with them.<br>
                        This type of service might still collect web traffic data for the pages where the service is installed, even when Users do not use it.
                    </p>
                    <h4>Youtube video widget (Google Inc.)</h4>
                    <p>Youtube is a video content visualization service provided by Google Inc. that allows this Application to incorporate content of this kind on its pages.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="http://www.google.it/intl/en/policies/privacy/" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Instagram widget (Instagram, Inc.)</h4>
                    <p>Instagram is an image visualization service provided by Instagram, Inc. that allows this Application to incorporate content of this kind on its pages.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="http://instagram.com/about/legal/privacy/" target="_blank">Privacy Policy</a>
                    </p>
                    <h3>Handling payments</h3>
                    <p>Payment processing services enable this Application to process payments by credit card, bank transfer or other means. To ensure greater security, this Application shares only the information necessary to execute the transaction with the financial intermediaries handling the transaction.<br>
                        Some of these services may also enable the sending of timed messages to the User, such as emails containing invoices or notifications concerning the payment.
                    </p>
                    <h4>Stripe (Stripe Inc)</h4>
                    <p>Stripe is a payment service provided by Stripe Inc.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://stripe.com/terms/US" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>PayPal (PayPal Inc.)</h4>
                    <p>PayPal is a payment service provided by PayPal Inc., which allows Users to make online payments using their PayPal credentials.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=p/gen/ua/policy_privacy-outside" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Google Wallet (Google)</h4>
                    <p>Google Wallet is a payment service provided by Google Inc., which allows users to make online payments using their Google credentials.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://wallet.google.com/files/privacy.html?hl=en" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Balanced Payments (Balanced)</h4>
                    <p>Balanced Payments is a payment service provided by Balanced Inc.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://www.balancedpayments.com/privacy" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Amazon Payments (Amazon)</h4>
                    <p>Amazon Payments is a payment service provided by Amazon.com, Inc., which allows Users to make online payments using their Amazon credentials.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        <a href="https://payments.amazon.com/help/Personal-Accounts/Privacy-Security/Privacy-Notice" target="_blank">Privacy Policy</a>
                    </p>
                    <h3>Hosting and backend infrastructure</h3>
                    <p>This type of services has the purpose of hosting data and files that enable this Application to run and be distributed as well as to provide a ready-made infrastructure to run specific features or parts of this Application.
                        Some of these services work through geographically distributed servers, making it difficult to determine the actual location where the Personal Data are stored.
                    </p>
                    <h4>Google Cloud Storage (Google)</h4>
                    <p>Google Cloud Storage is a hosting service provided by Google Inc.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://www.google.com/intl/policies/privacy/" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>DigitalOcean (DigitalOcean Inc.)</h4>
                    <p>DigitalOcean is a hosting service provided by DigitalOcean Inc.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://www.digitalocean.com/legal/privacy/" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Amazon Web Services (Amazon)</h4>
                    <p>Amazon Web Services is a hosting service provided by Amazon.com Inc.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        <a href="https://www.amazon.com/gp/help/customer/display.html?nodeId=468496" target="_blank">Privacy Policy</a>
                    </p>
                    <h3>Interaction with external social networks and platforms</h3>
                    <p>This type of services allow interaction with social networks or other external platforms directly from the pages of this Application.<br>
                        The interaction and information obtained through this Application are always subject to the User’s privacy settings for each social network.<br>
                        This type of service might still collect traffic data for the pages where the service is installed, even when Users do not use it.
                    </p>
                    <h4>Twitter Tweet button and social widgets (Twitter)</h4>
                    <p>The Twitter Tweet button and social widgets are services allowing interaction with the Twitter social network provided by Twitter Inc.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="http://twitter.com/privacy" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>LinkedIn button and social widgets (LinkedIn Corporation)</h4>
                    <p>The LinkedIn button and social widgets are services allowing interaction with the LinkedIn social network provided by LinkedIn Corporation.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://www.linkedin.com/legal/privacy-policy" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Google+ +1 button and social widgets (Google Inc.)</h4>
                    <p>The Google+ +1 button and social widgets are services allowing interaction with the Google+ social network provided by Google Inc.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="http://www.google.com/intl/en/policies/privacy/" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Google Friend Connect (Google Inc.)</h4>
                    <p>Google Friend Connect is a social interaction service provided by Google Inc.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://www.google.com/intl/policies/privacy/" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Facebook Like button and social widgets (Facebook, Inc.)</h4>
                    <p>The Facebook Like button and social widgets are services allowing interaction with the Facebook social network provided by Facebook, Inc.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="http://www.facebook.com/privacy/explanation.php" target="_blank">Privacy Policy</a>
                    </p>
                    <h3>Interaction with online survey platforms</h3>
                    <p>This type of services allows Users to interact with third party online survey platforms directly from the pages of this Application.<br>
                        If one of these services is installed, it may collect browsing and Usage Data in the pages where it is installed, even if the Users do not actively use the service.
                    </p>
                    <h4>SurveyMonkey Widget (SurveyMonkey Inc.)</h4>
                    <p>The SurveyMonkey Widget is a service for interacting with the SurveyMonkey online survey platform provided by SurveyMonkey Inc.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://www.surveymonkey.com/mp/policy/privacy-policy/" target="_blank">Privacy Policy</a>
                    </p>
                    <h3>Managing contacts and sending messages</h3>
                    <p>This type of services makes it possible to manage a database of email contacts, phone contacts or any other contact information to communicate with the User.<br>
                        These services may also collect data concerning the date and time when the message was viewed by the User, as well as when the User interacted with it, such as by clicking on links included in the message.
                    </p>
                    <h4>MailChimp (The Rocket Science Group, LLC.)</h4>
                    <p>MailChimp is an email address management and message sending service provided by The Rocket Science Group, LLC.</p>
                    <p>
                        Personal Data collected:
                        email address.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://mailchimp.com/legal/privacy/" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Amazon Simple Email Service (Amazon)</h4>
                    <p>Amazon Simple Email Service is an email address management and message sending service provided by Amazon.com Inc.</p>
                    <p>
                        Personal Data collected:
                        email address.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://aws.amazon.com/compliance/data-privacy-faq/" target="_blank">Privacy Policy</a>
                    </p>
                    <h3>Registration and authentication</h3>
                    <p>By registering or authenticating, Users allow this Application to identify them and give them access to dedicated services.<br>
                        Depending on what is described below, third parties may provide registration and authentication services. In this case, this Application will be able to access some Data, stored by these third party services, for registration or identification purposes.
                    </p>
                    <h4>Stripe OAuth (Stripe Inc)</h4>
                    <p>Stripe OAuth is a registration and authentication service provided by Stripe, Inc. and is connected to the Stripe network.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://stripe.com/us/privacy" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>WordPress.com Single Sign On (Automattic Inc.)</h4>
                    <p>WordPress.com Single Sign On is a registration and authentication service provided by Automattic Inc. and is connected to the WordPress.com network.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://automattic.com/privacy/" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Twitter OAuth (Twitter, Inc.)</h4>
                    <p>Twitter Oauth is a registration and authentication service provided by Twitter, Inc. and is connected to the Twitter social network.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://dev.twitter.com/terms/api-terms" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Twitter Digits (Twitter, Inc.)</h4>
                    <p>Twitter Digits is a registration and authentication service based on phone numbers provided by Twitter, Inc. and is connected to the Twitter social network.</p>
                    <p>
                        Personal Data collected:
                        phone number.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://dev.twitter.com/terms/api-terms" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Login with Amazon (Amazon)</h4>
                    <p>Login with Amazon is a registration and authentication service provided by Amazon.com, Inc.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://www.amazon.com/gp/help/customer/display.html/ref=hp_rel_topic?ie=UTF8&amp;nodeId=468496" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Linkedin OAuth (LinkedIn Corporation)</h4>
                    <p>Linkedin Oauth is a registration and authentication service provided by Linkedin Corporation and is connected to the Linkedin social network.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://www.linkedin.com/legal/privacy-policy" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Instagram Authentication (Instagram, Inc.)</h4>
                    <p>Instagram Authentication is a registration and authentication service provided by Instagram, Inc. and is connected to the Instagram social network.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="http://instagram.com/about/legal/privacy/" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Google OAuth (Google Inc.)</h4>
                    <p>Google OAuth is a registration and authentication service provided by Google Inc. and is connected to the Google network.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://developers.google.com/accounts/docs/OAuth2" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Facebook Authentication (Facebook, Inc.)</h4>
                    <p>Facebook Authentication is a registration and authentication service provided by Facebook, Inc. and is connected to the Facebook social network.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="http://www.facebook.com/help/?page=229348490415842" target="_blank">Privacy Policy</a>
                    </p>
                    <h4>Direct registration (This Application)</h4>
                    <p>The User registers by filling out the registration form and providing the Personal Data directly to this Application.</p>
                    <p>
                        Personal Data collected:
                        address, city, company name, country, date of birth, email address, fax number, first name, gender, last name, password, phone number, picture, profession, province, Social Security number (SSN), state, username, various types of Data as specified in the privacy policy of the service, workplace and ZIP/Postal code.
                    </p>
                    <h3>Remarketing and Behavioral Targeting</h3>
                    <p>This type of services allows this Application and its partners to inform, optimize and serve advertising based on past use of this Application by the User.<br>
                        This activity is performed by tracking Usage Data and by using Cookies, information that is transferred to the partners that manage the remarketing and behavioral targeting activity.
                    </p>
                    <h4>Twitter Remarketing (Twitter, Inc.)</h4>
                    <p>Twitter Remarketing is a Remarketing and Behavioral Targeting service provided by Twitter, Inc. that connects the activity of this Application with the Twitter advertising network.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://twitter.com/privacy" target="_blank">Privacy Policy</a>
                        –
                        <a href="https://support.twitter.com/articles/20170405">Opt Out</a>
                    </p>
                    <h4>Facebook Remarketing (Facebook, Inc.)</h4>
                    <p>Facebook Remarketing is a Remarketing and Behavioral Targeting service provided by Facebook, Inc. that connects the activity of this Application with the Facebook advertising network.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://www.facebook.com/about/privacy/" target="_blank">Privacy Policy</a>
                        –
                        <a href="http://www.aboutads.info/choices/">Opt Out</a>
                    </p>
                    <h4>AdWords Remarketing (Google Inc.)</h4>
                    <p>AdWords Remarketing is a Remarketing and Behavioral Targeting service provided by Google Inc. that connects the activity of this Application with the Adwords advertising network and the Doubleclick Cookie.</p>
                    <p>
                        Personal Data collected:
                        Cookies and Usage data.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="http://www.google.com/intl/en/policies/privacy/" target="_blank">Privacy Policy</a>
                        –
                        <a href="http://www.google.com/settings/ads/onweb/optout">Opt Out</a>
                    </p>
                    <h3>SPAM protection</h3>
                    <p>This type of services analyzes the traffic of this Application, potentially containing Users' Personal Data, with the purpose of filtering it from parts of traffic, messages and content that are recognized as SPAM.</p>
                    <h4>WebPurify (WebFurther, LLC.)</h4>
                    <p>WebPurify is a SPAM protection service provided by WebFurther, LLC.</p>
                    <p>
                        Personal Data collected:
                        various types of Data as specified in the privacy policy of the service.
                    </p>
                    <p>
                        Place of processing: US
                        –
                        <a href="https://www.webpurify.com/privacy/" target="_blank">Privacy Policy</a>
                    </p>
                    <h2>Further information about Personal Data</h2>
                    <h3>Selling goods and services online</h3>
                    <p>The Personal Data collected are used to provide the User with services or to sell goods, including payment and possible delivery.<br>
                        The Personal Data collected to complete the payment may include the credit card, the bank account used for the transfer, or any other means of payment envisaged. The kind of Data collected by this Application depends on the payment system used.
                    </p>
                    <h3>Access the address book</h3>
                    <p>This Application may request access to your address book.</p>
                    <h2>Additional information about Data collection and processing</h2>
                    <h3>Legal action</h3>
                    <p>
                        The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible legal action arising from improper use of this Application or the related services.<br>The User declares to be aware that the Data Controller may be required to reveal personal data upon request of public authorities.
                    </p>
                    <h3>Additional information about User's Personal Data</h3>
                    <p>
                        In addition to the information contained in this privacy policy, this Application may provide the User with additional and contextual information concerning particular services or the collection and processing of Personal Data upon request.
                    </p>
                    <h3>System Logs and Maintenance</h3>
                    <p>
                        For operation and maintenance purposes, this Application and any third party services may collect files that record interaction with this Application (System Logs) or use for this purpose other Personal Data (such as IP Address).
                    </p>
                    <h3>Information not contained in this policy</h3>
                    <p>
                        More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any time. Please see the contact information at the beginning of this document.
                    </p>
                    <h3>The rights of Users</h3>
                    <p>
                        Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the Data Controller at the contact information set out above.
                    </p>
                    <p>
                        This Application does not support “Do Not Track” requests.<br>To determine whether any of the third party services it uses honor the “Do Not Track” requests, please read their privacy policies.
                    </p>
                    <h3>Changes to this privacy policy</h3>
                    <p>
                        The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. If a User objects to any of the changes to the Policy, the User must cease using this Application and can request that the Data Controller removes the Personal Data. Unless stated otherwise, the then-current privacy policy applies to all Personal Data the Data Controller has about Users.
                    </p>
                    <h3>Information about this privacy policy</h3>
                    <p>
                        The Data Controller is responsible for this privacy policy, prepared starting from the modules provided by Iubenda and hosted on Iubenda's servers.
                    </p>
                    <h3>
                        Definitions and legal references
                    </h3>
                    <h4>Personal Data (or Data)</h4>
                    <p>Any information regarding a natural person, a legal person, an institution or an association, which is, or can be, identified, even indirectly, by reference to any other information, including a personal identification number.</p>
                    <h4>Usage Data</h4>
                    <p>Information collected automatically from this Application (or third party services employed in this Application), which can include: the IP addresses or domain names of the computers utilized by the Users who use this Application, the URI addresses (Uniform Resource Identifier), the time of the request, the method utilized to submit the request to the server, the size of the file received in response, the numerical code indicating the status of the server's answer (successful outcome, error, etc.), the country of origin, the features of the browser and the operating system utilized by the User, the various time details per visit (e.g., the time spent on each page within the Application) and the details about the path followed within the Application with special reference to the sequence of pages visited, and other parameters about the device operating system and/or the User's IT environment.</p>
                    <h4>User</h4>
                    <p>The individual using this Application, which must coincide with or be authorized by the Data Subject, to whom the Personal Data refers.</p>
                    <h4>Data Subject</h4>
                    <p>The legal or natural person to whom the Personal Data refers.</p>
                    <h4>Data Processor (or Data Supervisor)</h4>
                    <p>The natural person, legal person, public administration or any other body, association or organization authorized by the Data Controller to process the Personal Data in compliance with this privacy policy.</p>
                    <h4>Data Controller (or Owner)</h4>
                    <p>The natural person, legal person, public administration or any other body, association or organization with the right, also jointly with another Data Controller, to make decisions regarding the purposes, and the methods of processing of Personal Data and the means used, including the security measures concerning the operation and use of this Application. The Data Controller, unless otherwise specified, is the Owner of  this Application.</p>
                    <h4>This Application</h4>
                    <p>The hardware or software tool by which the Personal Data of the User is collected.</p>
                    <h4>Cookies</h4>
                    <p>Small piece of data stored in the User's device.</p>
                    <h4>Legal information</h4>
                    <p>Notice to European Users: this privacy statement has been prepared in fulfillment of the obligations under Art. 10 of EC Directive n. 95/46/EC, and under the provisions of Directive 2002/58/EC, as revised by Directive 2009/136/EC, on the subject of Cookies.</p>
                    <p>This privacy policy relates solely to this Application.</p>
                    <p>
                        Latest update: February 10, 2015
                    </p>
                </div>
                <!-- /iubenda_legal_document -->
            </div>
            <script type="text/javascript" src="//www.iubenda.com/privacy-policy/671251/embed-no-markup.json?i=9968507878"></script><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
            </p>
        </div>
        <!-- Inner Wrapper End -->
    </div>
    <!-- Main Wrapper End -->
</div>

{% endblock %}