.um-um_account_id.um .um-tip:hover,
.um-um_account_id.um .um-field-radio.active i,
.um-um_account_id.um .um-field-checkbox.active i,
.um-um_account_id.um .um-member-name a:hover,
.um-um_account_id.um .um-member-more a:hover,
.um-um_account_id.um .um-member-less a:hover,
.um-um_account_id.um .um-members-pagi a:hover,
.um-um_account_id.um .um-cover-add:hover,
.um-um_account_id.um .um-profile-subnav a.active,
.um-um_account_id.um .um-item-meta a,
.um-account-name a:hover,
.um-account-nav a.current,
.um-account-side li a.current span.um-account-icon,
.um-account-side li a.current:hover span.um-account-icon,
.um-dropdown li a:hover,
i.um-active-color,
span.um-active-color {
    color: #3ba1da;
}

.um-um_account_id.um .um-field-group-head,
.picker__box,
.picker__nav--prev:hover,
.picker__nav--next:hover,
.um-um_account_id.um .um-members-pagi span.current,
.um-um_account_id.um .um-members-pagi span.current:hover,
.um-um_account_id.um .um-profile-nav-item.active a,
.um-um_account_id.um .um-profile-nav-item.active a:hover,
.upload,
.um-modal-header,
.um-modal-btn,
.um-modal-btn.disabled,
.um-modal-btn.disabled:hover,
div.uimob800 .um-account-side li a.current, div.uimob800 .um-account-side li a.current:hover {
    background: #3ba1da;
}

.um-um_account_id.um .um-field-group-head:hover,
.picker__footer,
.picker__header,
.picker__day--infocus:hover,
.picker__day--outfocus:hover,
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted,
.picker__list-item:hover,
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted,
.picker__list-item--selected,
.picker__list-item--selected:hover,
.picker--focused .picker__list-item--selected {
    background: #44b0ec;
}

.um-um_account_id.um input[type=submit]:disabled:hover {
    background: #3ba1da;
}

.um-um_account_id.um input[type=submit].um-button,
.um-um_account_id.um input[type=submit].um-button:focus,
.um-um_account_id.um a.um-button,
.um-um_account_id.um a.um-button.um-disabled:hover,
.um-um_account_id.um a.um-button.um-disabled:focus,
.um-um_account_id.um a.um-button.um-disabled:active {
    background: #3ba1da;
}

.um-um_account_id.um a.um-link {
    color: #3ba1da;
}

.um-um_account_id.um input[type=submit].um-button:hover,
.um-um_account_id.um a.um-button:hover {
    background-color: #44b0ec;
}

.um-um_account_id.um a.um-link:hover, .um-um_account_id.um a.um-link-hvr:hover {
    color: #44b0ec;
}

.um-um_account_id.um .um-button {
    color: #ffffff;
}

.um-um_account_id.um .um-button.um-alt,
.um-um_account_id.um input[type=submit].um-button.um-alt {
    background: #eeeeee;
}

.um-um_account_id.um .um-button.um-alt:hover,
.um-um_account_id.um input[type=submit].um-button.um-alt:hover {
    background: #e5e5e5;
}

.um-um_account_id.um .um-button.um-alt,
.um-um_account_id.um input[type=submit].um-button.um-alt {
    color: #666666;
}

.um-um_account_id.um .um-form input,
.um-um_account_id.um .um-form textarea,
.um-um_account_id.um .upload-progress,
.select2-container .select2-choice,
.select2-drop,
.select2-container-multi .select2-choices,
.select2-drop-active,
.select2-drop.select2-drop-above {
    border: 2px solid #ddd !important;
}

.um-um_account_id.um .um-form .select2-container-multi .select2-choices .select2-search-field input[type=text] {
    border: none !important
}

.um-um_account_id.um .um-form input:focus,
.um-um_account_id.um .um-form textarea:focus {
    border: 2px solid #bbb !important;
}

.um-um_account_id.um .um-form input,
.um-um_account_id.um .um-form textarea,
.select2-container .select2-choice,
.select2-container-multi .select2-choices {
    background-color: #ffffff;
}

.um-um_account_id.um .um-form input[type=text]:focus,
.um-um_account_id.um .um-form input[type=password]:focus,
.um-um_account_id.um .um-form textarea:focus {
    background-color: #ffffff;
}

.um-um_account_id.um .um-form ::-webkit-input-placeholder {
    color: #e0e0e0;
    opacity: 1 !important;
}

.um-um_account_id.um .um-form ::-moz-placeholder {
    color: #e0e0e0;
    opacity: 1 !important;
}

.um-um_account_id.um .um-form ::-moz-placeholder {
    color: #e0e0e0;
    opacity: 1 !important;
}

.um-um_account_id.um .um-form ::-ms-input-placeholder {
    color: #e0e0e0;
    opacity: 1 !important;
}

.select2-default,
.select2-default *,
.select2-container-multi .select2-choices .select2-search-field input {
    color: #e0e0e0;
}

.um-um_account_id.um .um-field-icon i,
.select2-container .select2-choice .select2-arrow:before,
.select2-search:before,
.select2-search-choice-close:before {
    color: #aaaaaa;
}

.um-um_account_id.um span.um-req {
    color: #000000;
}

.um-um_account_id.um .um-field-label {
    color: #555555;
}

.um-um_account_id.um .um-form input,
.um-um_account_id.um .um-form textarea {
    color: #000000;
}

.um-um_account_id.um .um-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #000000;
}

.um-um_account_id.um .um-form input:-webkit-autofill:focus {
    -webkit-box-shadow: none, 0 0 0 50px white inset;
    -webkit-text-fill-color: #000000;
}

.um-um_account_id.um .um-tip {
    color: #cccccc;
}

.account-backer-contribution-preview {
    width: 150px;
}

.account-backer-contribution-preview .container{
    width: 100%;
    padding: 10px 10px 10px 10px;
}

.um-account-main {
    width: 100%;
}



.btn-new {
    background-color: #55AF57 !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    line-height: 15px !important;
    border-radius: 0px !important;
    box-shadow: 0px 5px 7px gray !important;
    transition: box-shadow 0.3s !important;
}
.btn-new:hover {
    background-color: #48954a !important;
    box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.9) !important;
    border-radius: 0px !important;
}

.btn-new-danger {
    background-color: #c0392b !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    line-height: 15px !important;
    border-radius: 0px !important;
    box-shadow: 0px 5px 7px gray !important;
    transition: box-shadow 0.3s !important;
}
.btn-new-danger:hover {
    background-color: #e74c3c !important;
    box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.9) !important;
    border-radius: 0px !important;
}
