@font-face {
    font-family: 'BrookeS8';

    src: url('libs/fonts/BrookeS8.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.paddingZero{
    margin: 0px;
    border-style: dotted;
}

avatar {
	padding-right:17px;
	display:inline-block;
	border-radius:50%;
	padding:2px;
	background:-moz-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
/* FF3.6+ */
	background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,0)));
/* Chrome,Safari4+ */
	background:-webkit-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
/* Opera 12+ */
	background:-ms-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
/* IE10+ */
	background:radial-gradient(ellipse at center,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#00ffffff',GradientType=1);
/* IE6-9 fallback on horizontal gradient */
	margin-top:11px;
}

avatar img {
	border-radius:50%;
}

/* Global Icons styles ---------------------------- */
box {
	display:inline-block;
	position:relative;
	cursor:pointer;
	-webkit-mask-repeat:no-repeat;
}

.textwrapper {
	display:block;
	color:#000;
	z-index:1000;
	width:inherit;
	margin-bottom:2px;
    text-align: justify;
    margin-top:10px;
}


p.title {
    text-align: left;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 14px;
    margin-top: 0px;
    overflow-wrap: break-word;
    margin-left: 15px;
}
.time-left-margin{
    text-align: right;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 14px;
    margin-top: 0px;
    overflow-wrap: break-word;

}
.time-right-margin{
    text-align: left;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 14px;
    margin-top: 0px;
    overflow-wrap: break-word;
    margin-right: 15px;
}

#activity {
	-webkit-user-select:none;
	border-radius:5px 5px 5px 5px;
	background-color:hsla(0,0%,0%,.02);
	box-shadow:inset 0 1px 4px hsla(0,0%,0%,.1),0 1px 2px hsla(0,0%,100%,.3);
    margin-top: 20px;
    padding-bottom: 30px;
    max-width: 100%;
}

#activity .message {
    margin-top: 10px;
    line-height: 18px;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}

.activity-feed-node {


    box-shadow: 0px 2px 3px #888888;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.activity-feed-node-left {
    color: #595959;
    background: #F5F5F5;
}

.activity-feed-node-right {

    color: #595959;
    background: #F7F7F7;

}

.pading-zero{
    padding: 0px;
    margin: 0px;
}

.activity-feed-node-left span, .activity-feed-node-left p {

}

.activity-feed-node-right span {
    text-align: right;
}


.activity-feed-node-right .textwrapper {
    margin-left: 15px;
    margin-right: 0px;
}

.speech.outer, .speech.inner {
    width: 100%;
    height: 100%;
}

.activity-feed-node-right .speech.outer {
    margin-left: 0px;
    margin-right: 0px;
}

.activity-feed-node-right .speech.inner {
    margin-left: 0px;
    margin-right: 0px;
}


.activity-feed-node.activity-feed-node-right div.activity-avatar {
    margin-left: 10px;
}

.activity-feed-node.activity-feed-node-right > div {
    padding-left: 0px;
    padding-right: 0px;
}

.activity-feed-node .datetime {
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 0px;
}

.activity-feed-node.activity-feed-node-right .datetime{
    margin-left: 15px;
}

.activity-feed-node.activity-feed-node-left .datetime{
    text-align: right;
    margin-right: -10px;
}

span.amount {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    display: block;
    width: 100%;
    text-align: center;
    font-family: BebasNeueRegular;
    margin-bottom: 14px;
}

div.activity-feed-node avatar {
    max-width: 80px;
    max-height: 80px;
    height: 80px;
    width: 80px;
    overflow: hidden;
}

div.activity-feed-node avatar img{
    height: 80px;
    width: 80px;
}

form.comment-delete-form button {
    width: 20px;
    height: 25px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

form.comment-delete-form button span{
    color: white;
}