.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  box-sizing: border-box;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

div.btn-levels-container div.payment-options label {
    padding: 12px 0px;
    font-size: 16px;
    font-weight: 500;
}

div.toggle.btn {
    min-width: 150px;
}

div.toggle.btn label.btn {
    font-weight: 600;
}

div.toggle-group {
    box-sizing: inherit;
    font-size: inherit;
}

select#contribution-type {
    margin-bottom: 0px;
    height: 34px;
    color: black;
    padding-top: 6px;
    padding-bottom: 7px;
}

.btn.btn-success.btn-circle.active {
    background-color: #0D520D;
}

.modal.bootstrap-dialog {
    margin-top: 100px;
}