.profile.um {
    max-width: 1140px;
}

.profile.um .um-tip:hover,
.profile.um .um-field-radio.active i,
.profile.um .um-field-checkbox.active i,
.profile.um .um-member-name a:hover,
.profile.um .um-member-more a:hover,
.profile.um .um-member-less a:hover,
.profile.um .um-members-pagi a:hover,
.profile.um .um-cover-add:hover,
.profile.um .um-profile-subnav a.active,
.profile.um .um-item-meta a,
.um-account-name a:hover,
.um-account-nav a.current,
.um-account-side li a.current span.um-account-icon,
.um-account-side li a.current:hover span.um-account-icon,
.um-dropdown li a:hover,
i.um-active-color,
span.um-active-color {
    color: #3ba1da;
}

.profile.um .um-field-group-head,
.picker__box,
.picker__nav--prev:hover,
.picker__nav--next:hover,
.profile.um .um-members-pagi span.current,
.profile.um .um-members-pagi span.current:hover,
.profile.um .um-profile-nav-item.active a,
.profile.um .um-profile-nav-item.active a:hover,
.upload,
.um-modal-header,
.um-modal-btn,
.um-modal-btn.disabled,
.um-modal-btn.disabled:hover,
div.uimob800 .um-account-side li a.current, div.uimob800 .um-account-side li a.current:hover {
    background: #3ba1da;
}

.profile.um .um-field-group-head:hover,
.picker__footer,
.picker__header,
.picker__day--infocus:hover,
.picker__day--outfocus:hover,
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted,
.picker__list-item:hover,
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted,
.picker__list-item--selected,
.picker__list-item--selected:hover,
.picker--focused .picker__list-item--selected {
    background: #44b0ec;
}

.profile.um {
    float: left;
}

.profile.um input[type=submit]:disabled:hover {
    background: #3ba1da;
}

.profile.um input[type=submit].um-button,
.profile.um input[type=submit].um-button:focus,
.profile.um a.um-button,
.profile.um button.um-button,
.profile.um button.um-button:focus,
.profile.um a.um-button.um-disabled:hover,
.profile.um a.um-button.um-disabled:focus,
.profile.um a.um-button.um-disabled:active {
    background: #3ba1da;
}

.profile.um a.um-link {
    color: #3ba1da;
}

.profile.um input[type=submit].um-button:hover,
.profile.um button.um-button:hover,
.profile.um a.um-button:hover {
    background-color: #44b0ec;
}

.profile.um a.um-link:hover, .profile.um a.um-link-hvr:hover {
    color: #44b0ec;
}

.profile.um .um-button {
    color: #ffffff;
}

.profile.um .um-button.um-alt,
.profile.um input[type=submit].um-button.um-alt {
    background: #c0392b;
}

.profile.um .um-button.um-alt:hover,
.profile.um input[type=submit].um-button.um-alt:hover {
    background: #e74c3c;
}

.profile.um .um-button.um-alt,
.profile.um input[type=submit].um-button.um-alt {
    color:white;
}

.profile.um .um-form input[type=text],
.profile.um .um-form input[type=email],
.profile.um .um-form input[type=number],
.profile.um .um-form input[type=password],
.profile.um .um-form textarea,
.profile.um .upload-progress,
.select2-container .select2-choice,
.select2-drop,
.select2-container-multi .select2-choices,
.select2-drop-active,
.select2-drop.select2-drop-above {
    border: 2px solid #ddd !important;
}

.profile.um .um-form .select2-container-multi .select2-choices .select2-search-field input[type=text],
.profile.um .um-form .select2-container-multi .select2-choices .select2-search-field input[type=number] {
    border: none !important
}

.profile.um .um-form input[type=text]:focus,
.profile.um .um-form input[type=email]:focus,
.profile.um .um-form input[type=number]:focus,
.profile.um .um-form input[type=password]:focus,
.profile.um .um-form textarea:focus {
    border: 2px solid #bbb !important;
}

.profile.um .um-form input[type=text],
.profile.um .um-form input[type=email],
.profile.um .um-form input[type=number],
.profile.um .um-form input[type=password],
.profile.um .um-form textarea,
.select2-container .select2-choice,
.select2-container-multi .select2-choices {
    background-color: #ffffff;
}

.profile.um .um-form input[type=text]:focus,
.profile.um .um-form input[type=email]:focus,
.profile.um .um-form input[type=password]:focus,
.profile.um .um-form input[type=number]:focus,
.profile.um .um-form textarea:focus {
    background-color: #ffffff;
}

.profile.um .um-form ::-webkit-input-placeholder {
    color: #e0e0e0;
    opacity: 1 !important;
}

.profile.um .um-form ::-moz-placeholder {
    color: #e0e0e0;
    opacity: 1 !important;
}

.profile.um .um-form ::-moz-placeholder {
    color: #e0e0e0;
    opacity: 1 !important;
}

.profile.um .um-form ::-ms-input-placeholder {
    color: #e0e0e0;
    opacity: 1 !important;
}

.select2-default,
.select2-default *,
.select2-container-multi .select2-choices .select2-search-field input {
    color: #e0e0e0;
}

.profile.um .um-field-icon i,
.select2-container .select2-choice .select2-arrow:before,
.select2-search:before,
.select2-search-choice-close:before {
    color: #aaaaaa;
}

.profile.um span.um-req {
    color: #000000;
}

.profile.um .um-field-label {
    color: #555555;
}

.profile.um .um-form input[type=text],
.profile.um .um-form input[type=email],
.profile.um .um-form input[type=number],
.profile.um .um-form input[type=password],
.profile.um .um-form textarea {
    color: #000000;
     border-radius: 7px;
}

.profile.um .um-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #000000;
}

.profile.um .um-form input:-webkit-autofill:focus {
    -webkit-box-shadow: none, 0 0 0 50px white inset;
    -webkit-text-fill-color: #000000;
}

.profile.um .um-tip {
    color: #cccccc;
}

.profile.um .um-profile-photo a.um-profile-photo-img,
.profile.um .um-profile-photo img,
.profile.um .um-profile-photo span.um-profile-photo-overlay {
    -moz-border-radius: 999px !important;
    -webkit-border-radius: 999px !important;
    border-radius: 999px !important
}

.profile.um .um-profile-photo {
    width: 250px;
}

.profile.um .um-profile-body {
    max-width: 980px;
}

.profile.um .um-profile-photo a.um-profile-photo-img {
    width: 190px;
    height: 190px;
}

.profile.um .um-profile-photo a.um-profile-photo-img {
    top: -105px;
}

.profile.um .um-profile-meta {
    padding-left: 250px;
}

.profile.um .um-profile-meta {
    color: #999999;
}

.profile.um .um-name a {
    color: #555555;
}

.profile.um .um-name a:hover {
    color: #444444;
}

.profile.um .um-profile-headericon a {
    color: #aaaaaa;
}

.profile.um .um-profile-headericon a:hover,
.profile.um .um-profile-edit-a.active {
    color: #3ba1da;
}

.fa-15x {
  font-size: 1.5em !important;}

.fa-2x {
  font-size: 2em !important;}

.fa-25x {
  font-size: 2.5em !important;}

.fa-3x {
  font-size: 3em !important;}

.fa-35x {
  font-size: 3.5em !important;}

.fa-4x {
  font-size: 4em !important;}

.fa-45x {
  font-size: 4.5em !important;}

.fa-5x {
  font-size: 5em !important;}

.remove-button {
    background: transparent;
    border: 0
}

.remove-button i {
    background: transparent
}

div.um-field-school.um-field > div.um-field-area > div.um-field-value{
    margin-bottom: 10px;
}


.um-1101.um .um-profile-photo a.um-profile-photo-img,
.um-1101.um .um-profile-photo img,
.um-1101.um .um-profile-photo span.um-profile-photo-overlay
{ -moz-border-radius: 999px !important; -webkit-border-radius: 999px !important; border-radius: 999px !important }
.um-1101.um .um-profile-photo {
width: 250px;
}
.um-1101.um .um-profile-body {


	background-color:hsla(0,0%,0%,.02);
	box-shadow:inset 0 1px 4px hsla(0,0%,0%,.1),0 1px 2px hsla(0,0%,100%,.3);
    margin-top: 20px;
    padding-bottom: 30px;
    max-width: 100%;
}
.um-1101.um .um-profile-photo a.um-profile-photo-img {
width: 190px;
height: 190px;
}
.um-1101.um .um-profile-photo a.um-profile-photo-img {
top: -105px;
}
.um-1101.um .um-profile-meta {
padding-left: 250px;
}
.um-1101.um .um-profile-meta {
color: #999999;
}
.um-1101.um .um-name a {
color: #555555;
}
.um-1101.um .um-name a:hover {
color: #444444;
}
.um-1101.um .um-profile-headericon a {
color: #aaaaaa;
}
.um-1101.um .um-profile-headericon a:hover,
.um-1101.um .um-profile-edit-a.active {
color: #3ba1da;
}

.um-1101.um {
max-width: 1140px;
}
.um-1101.um .um-tip:hover,
.um-1101.um .um-field-radio.active i,
.um-1101.um .um-field-checkbox.active i,
.um-1101.um .um-member-name a:hover,
.um-1101.um .um-member-more a:hover,
.um-1101.um .um-member-less a:hover,
.um-1101.um .um-members-pagi a:hover,
.um-1101.um .um-cover-add:hover,
.um-1101.um .um-profile-subnav a.active,
.um-1101.um .um-item-meta a,
.um-account-name a:hover,
.um-account-nav a.current,
.um-account-side li a.current span.um-account-icon,
.um-account-side li a.current:hover span.um-account-icon,
.um-dropdown li a:hover,
i.um-active-color,
span.um-active-color
{
color: #3ba1da;
}
.um-1101.um .um-field-group-head,
.picker__box,
.picker__nav--prev:hover,
.picker__nav--next:hover,
.um-1101.um .um-members-pagi span.current,
.um-1101.um .um-members-pagi span.current:hover,
.um-1101.um .um-profile-nav-item.active > a,
.um-1101.um .um-profile-nav-item a:hover,
.upload,
.um-modal-header,
.um-modal-btn,
.um-modal-btn.disabled,
.um-modal-btn.disabled:hover,
div.uimob800 .um-account-side li a.current,div.uimob800 .um-account-side li a.current:hover
{
background: #3ba1da;
}
.um-1101.um .um-field-group-head:hover,
.picker__footer,
.picker__header,
.picker__day--infocus:hover,
.picker__day--outfocus:hover,
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted,
.picker__list-item:hover,
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted,
.picker__list-item--selected,
.picker__list-item--selected:hover,
.picker--focused .picker__list-item--selected {
background: #44b0ec;
}
.um-1101.um {
float: left;
}.um-1101.um input[type=submit]:disabled:hover {
background: #3ba1da;
}.um-1101.um input[type=submit].um-button,
.um-1101.um input[type=submit].um-button:focus,
.um-1101.um a.um-button,
.um-1101.um a.um-button.um-disabled:hover,
.um-1101.um a.um-button.um-disabled:focus,
.um-1101.um a.um-button.um-disabled:active {

}.um-1101.um a.um-link {
color: #3ba1da;
}.um-1101.um input[type=submit].um-button:hover,
.um-1101.um a.um-button:hover {

}.um-1101.um a.um-link:hover, .um-1101.um a.um-link-hvr:hover {
color: #44b0ec;
}.um-1101.um .um-button {
color: #ffffff;
}.um-1101.um .um-button.um-alt,
.um-1101.um input[type=submit].um-button.um-alt {
background: #c0392b;
}.um-1101.um .um-button.um-alt:hover,
.um-1101.um input[type=submit].um-button.um-alt:hover{
background: #e74c3c;
}.um-1101.um .um-button.um-alt,
.um-1101.um input[type=submit].um-button.um-alt {
color: white;
}
.um-1101.um .um-form input[type=text],
.um-1101.um .um-form input[type=email],
.um-1101.um .um-form input[type=number],
.um-1101.um .um-form input[type=password],
.um-1101.um .um-form textarea,
.um-1101.um .upload-progress,
.select2-container .select2-choice,
.select2-drop,
.select2-container-multi .select2-choices,
.select2-drop-active,
.select2-drop.select2-drop-above
{
border: 2px solid #ddd !important;
}
.um-1101.um .um-form .select2-container-multi .select2-choices .select2-search-field input[type=text] {border: none !important}
.um-1101.um .um-form input[type=text]:focus,
.um-1101.um .um-form input[type=email]:focus,
.um-1101.um .um-form input[type=number]:focus,
.um-1101.um .um-form input[type=password]:focus,
.um-1101.um .um-form textarea:focus {
border: 2px solid #bbb !important;
}
.um-1101.um .um-form input[type=text],
.um-1101.um .um-form input[type=email],
.um-1101.um .um-form input[type=number],
.um-1101.um .um-form input[type=password],
.um-1101.um .um-form textarea,
.select2-container .select2-choice,
.select2-container-multi .select2-choices
{
background-color: #ffffff;
}
.um-1101.um .um-form input[type=text]:focus,
.um-1101.um .um-form input[type=email]:focus,
.um-1101.um .um-form input[type=number]:focus,
.um-1101.um .um-form input[type=password]:focus,
.um-1101.um .um-form textarea:focus {
background-color: #ffffff;
}
.um-1101.um .um-form ::-webkit-input-placeholder
{
color:  #e0e0e0;
opacity: 1 !important;
}
.um-1101.um .um-form ::-moz-placeholder
{
color:  #e0e0e0;
opacity: 1 !important;
}
.um-1101.um .um-form ::-moz-placeholder
{
color:  #e0e0e0;
opacity: 1 !important;
}
.um-1101.um .um-form ::-ms-input-placeholder
{
color:  #e0e0e0;
opacity: 1 !important;
}
.select2-default,
.select2-default *,
.select2-container-multi .select2-choices .select2-search-field input
{
color:  #e0e0e0;
}
.um-1101.um .um-field-icon i,
.select2-container .select2-choice .select2-arrow:before,
.select2-search:before,
.select2-search-choice-close:before
{
color: #aaaaaa;
}
.um-1101.um span.um-req
{
color: #000000;
}
.um-1101.um .um-field-label {
color: #555555;
}
.um-1101.um .um-form input[type=text],
.um-1101.um .um-form input[type=email],
.um-1101.um .um-form input[type=number],
.um-1101.um .um-form input[type=password],
.um-1101.um .um-form textarea
{
color: #000000;
    border-radius: 7px;
}
.um-1101.um .um-form input:-webkit-autofill {
-webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
-webkit-text-fill-color: #000000;
}
.um-1101.um .um-form input:-webkit-autofill:focus {
-webkit-box-shadow: none,0 0 0 50px white inset;
-webkit-text-fill-color: #000000;
}
.um-1101.um .um-tip {
color: #cccccc;
}

.um-profile-nav-item a span {
    font-weight: 600;
}

.profile-overview .container {
    width: 100%;
}

.black-bold-text {
    color: #000000;
    font-weight: 600;
    font-size: 13px;
}

div.image-upload div.ajax-upload-dragdrop form.ajax-form input[type=file] {
    position: absolute;
    cursor:pointer;
    top: 0px;
    width: 100%;
    height: 34px;
    left: 0px;
    z-index: 100;
    opacity: 0;
}

div.image-upload div.ajax-upload-dragdrop div.error{
    margin-top: 10px;
    font-size: 13px;
    padding-top: 7px;
    padding-bottom: 8px;
    display: none;
}


#content > div > div > div > div > form > div.um-cover.um-trigger-menu-on-click > div.um-dropdown {
    left: inherit;
    right: 0px;
}

.header-left div.um-profile-meta div.um-main-meta {
    font-size: 13px;
}

div.header-student-name {
    margin-bottom: 4px;
    text-transform: capitalize;
}

@media (min-width: 1180px) {

    #upload-cover-image-button.cover-image-button {
        height: 294px;
    }

    div.um-profile-nav div.inner-profile-view-nav {
        width: 580px;
    }


    div.header-right div.pledges-container {
        width: 326px;
    }

    div.header-student-name {
        margin-top: 0px;
    }
}

@media (min-width: 970px) and (max-width: 1180px)  {

    #upload-cover-image-button.cover-image-button {
        height: 294px;
    }

    div.um-profile-nav div.inner-profile-view-nav {
        width: 580px;
    }

    div.header-right div.pledges-container {
        width: 258px;
    }

    div.header-student-name {
        margin-top: 15px;
    }
}

@media (min-width: 861px) and (max-width: 970px) {

    #upload-cover-image-button.cover-image-button {
        height: 294px;
    }

    div.um-profile-nav div.inner-profile-view-nav {
        width: 580px;
    }

    div.header-right div.pledges-container {
        width: 230px;
    }

    div.header-student-name {
        margin-top: 15px;
    }
}

@media (min-width: 760px) and (max-width: 861px) {

    #upload-cover-image-button.cover-image-button {
        height: 294px;
    }

    div.um-profile-nav div.inner-profile-view-nav {
        width: 270px;
    }

    div.header-right div.pledges-container {
        width: 194px;
    }

    div.header-student-name {
        margin-top: 10px;
    }
}


@media (min-width: 670px) and (max-width: 760px) {

    #upload-cover-image-button.cover-image-button {
        height: 294px;
    }

    div.um-profile-nav div.inner-profile-view-nav {
        width: 270px;
    }

    div.header-right, div.header-left {
        float: none;
        margin-right: auto;
        margin-left: auto;
    }

    div.header-right div.pledges-container {

    }

    div.header-student-name {
        margin-top: 10px;
    }
}

@media (min-width: 576px) and (max-width: 670px) {

    #upload-cover-image-button.cover-image-button {
        height: 294px;
    }

    div.um-profile-nav div.inner-profile-view-nav {
        width: 270px;
    }

    div.header-right, div.header-left {
        float: none;
        margin-right: auto;
        margin-left: auto;
    }

    div.header-right div.pledges-container {

    }

    .header-left div.um-profile-meta div.um-main-meta {
        font-size: 10px;
        margin-top: -30px;
    }

    div.header-student-name {
        margin-top: 30px;
    }
}

@media (min-width: 400px) and (max-width: 576px) {

    #upload-cover-image-button.cover-image-button {
        height: 294px;
        margin-top: -20px;
    }

    div.um-profile-nav div.inner-profile-view-nav {
        width: 220px;
    }

    div.header-right, div.header-left {
        float: none;
        margin-right: auto;
        margin-left: auto;
    }

    .header-left div.um-profile-meta div.um-main-meta {
        font-size: 10px;
        margin-top: -30px;
    }

    div.header-student-name {
        margin-top: 30px;
    }

}

@media (max-width: 400px) {

    #upload-cover-image-button.cover-image-button {
        height: 294px;
        margin-top: -18px;
    }

    div.um-profile-nav div.inner-profile-view-nav {
        width: 200px;
    }

    div.header-right, div.header-left {
        float: none;
        margin-right: auto;
        margin-left: auto;
    }

    .header-left div.um-profile-meta div.um-main-meta {
        font-size: 10px;
        margin-top: -30px;
    }

    div.header-student-name {
        margin-top: 30px;
    }

}

@media (min-width: 761px) {
    div.header-right {
        max-width: 29%;
        right: 0;
        position: absolute;
    }
}

div.pledges-container {
    width: 200px;
    height: 274px;
    text-align: left;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
}


div.pledges-container .main-btn {
    width: 100px;
    font-size: 14px;
}

div div.header-left {
    padding-left: 0;
    padding-right: 0;
}

.incomplete {
    color: red;
}

div.header-right {
    z-index: 10;
}

div.account ul.dropdown-menu li {
    width: 75%;
}

div.account ul.dropdown-menu a {
    width: 98%;
}

div.account ul.dropdown-menu a span {
    padding-left: 20px;
}

div.account ul.dropdown-menu a i {
    margin-top: -4px;
}

.um-profile-nav-item a{
    padding-left: 34px;
}


@media (max-width: 879px) {
    #content .page-header-background .header-right button {
        max-height: 10px;
        margin-top: 0;
        margin-bottom: 5px;
        padding-top: 0;
    }

    .navigation-item-text {
        display: none;
    }

    div.account ul.dropdown-menu a {
        text-align: center;
    }

    div.account ul.dropdown-menu a.account-menu-item#account-menu-item-general:hover,
    div.account ul.dropdown-menu a.account-menu-item#account-menu-item-pass:hover,
    div.account ul.dropdown-menu a.account-menu-item#account-menu-item-funds:hover,
    div.account ul.dropdown-menu a.account-menu-item#account-menu-item-backed:hover,
    div.account ul.dropdown-menu a.account-menu-item#account-menu-item-disable:hover
    {
        background: #3BA1DA;
        color: #fff !important;
    }
}

.um-profile-nav nav {
    margin-bottom: 0px;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
}

#student-loan-documents {
    word-wrap: break-word;
}


div.um-cover {
    overflow: hidden;
}

#upload-cover-image-button.cover-image-button {
    position: absolute;
}

.btn-new {
    background-color: #55AF57 !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    line-height: 15px !important;
    border-radius: 0px !important;
    box-shadow: 0px 5px 7px gray !important;
    transition: box-shadow 0.3s !important;
}
.btn-new:hover {
    background-color: #48954a !important;
    box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.9) !important;
    border-radius: 0px !important;
}

.btn-new-danger {
    background-color: #c0392b !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    line-height: 15px !important;
    border-radius: 0px !important;
    box-shadow: 0px 5px 7px gray !important;
    transition: box-shadow 0.3s !important;
}
.btn-new-danger:hover {
    background-color: #e74c3c !important;
    box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.9) !important;
    border-radius: 0px !important;
}

.btn-new-info {
    background-color: #113ec0 !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    line-height: 15px !important;
    border-radius: 0px !important;
    box-shadow: 0px 5px 7px gray !important;
    transition: box-shadow 0.3s !important;
}
.btn-new-info:hover {
    background-color: #4852e7 !important;
    box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.9) !important;
    border-radius: 0px !important;
}

.pledge-percentage, .pledge-amount, .pledge-backers {
    color: #585858;
    text-shadow: 0px 5px 20px rgba(128, 128, 128, 0.8) !important;
}