/*
 Theme Name:     Backer Child
 Theme URI:      http://demo.krownthemes.com/backer/
 Description:    A basic child theme for the Backer theme.
 Author:         KrownThemes
 Author URI:     http://krownthemes.com
 Template:       backer
 Version:        1.0
*/

@import url("../backer/style.css");

/* --------------------------------------
-----   Theme customization starts here   -----
------------------------------------------*/

body {
	background: #fff;
}
.krown-id-item {
    border: 2px solid #eee;
}
.fancybox-thumb span {
	background: rgba( 0,0,0,.1 );
}

.fancybox-thumb span:before {
	display: none;
}
html.ie8 .fancybox-thumb span:before {
	display: none;
}
html.ie8 .fancybox-thumb:hover span:before {
	display: none;
}

/* ========================
----- ULTIMATE MEMBER OVERRIDES ------
========================= */

#description-1101 { display: none; }

.stripe-form {
	text-align: center;
}

.um-field-value {
white-space: pre-line;
}

.stripe-form button,
.stripe-form button span { width: 100%;}

.um-profile-nav {
	background: #eee;
}

.um-school,
.um-degree { clear: both; font-weight: 400;}

.um-school { font-weight: 700;}


.um-profile-nav-item a {
	color: #000 !important;
}

.um-field-value {
	font-weight: 400;
	margin-bottom: 12px;
}

.um-field-label label {
	text-transform: uppercase;
	height: 18px;
    font-size: 20px !important;
    font-weight: 400;
	letter-spacing: 1px;

}

.um-field-area {
	font-weight: 400;
}

#header { 
    height: 84px;
}

#main-menu ul {
    position: relative;
    top: 12px;
    text-transform: uppercase;
}

#comments-list {
	list-style: none;
}

#orig-comments h3,
#orig-comments #comments-list,
#orig-comments .post-excerpt,
#orig-comments code,
#orig-comments .form-allowed-tags,
.um-profile-nav .count{
	display: none;
}
#orig-comments input[type="submit"] {
  width: 30%;
  height: auto;
}
.um-profile-nav-item a:hover { background: #3BA1DA; color: #fff !important; }
.um-profile-nav-item span.count {background: none;}

.top-menu > li > a {
    font-size: 12px;
}
.aboslute {position: absolute;}
.full_height {height: 100%;}
.full_width {width: 100%;}

#content {
    top: 50px;
}
.disp_table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.disp_tablecell {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
#home_vid video {
height: auto;
width: auto;
min-width: 100%;
min-height: 100%;
margin-left: auto;
margin-right: auto;
display: block;
}

#home_vid {
    margin-top: -26px;
    border-bottom: 3px solid white;
    position: relative;
    height: 400px;
    overflow: hidden;
}

@media all and (max-width: 712px) { 
	#home_vid { height: 304px; } 
	}
@media all and (max-width: 540px) { 
	#home_vid { height: 240px; } 
}
@media all and (max-width: 420px) { 
	#home_vid { height: 180px;} 
	h1.front_page { font-size: 18px; } 
}

.vid_inner {
    margin: 0 auto;
    max-width: 1600px;
}

#vid_text { 
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

#custom-header {
    top: 0px; 
}

#custom-header .cta:first-child {
    border-right: 2px solid white;
}
#custom-header .cta:last-child {
    border-left: 2px solid white;
}


.mejs-controls {display: none !important;}
.mejs-overlay-button {display: none !important;}

h1.front_page { 
    color: #fff;
    font-weight: 100;
	position: relative;
	z-index: 2;
    
}

.hero_button { 
	padding: 12px 20px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	-khtml-border-radius:6px;
	border: 2px solid white;
	background: rgba(255, 255, 255, 0.15);
	color: #fff;
	font-weight: 700;
	position: relative;
	z-index: 2;

}

.hero_button:hover { 
	cursor: pointer;
	background: rgba(255, 255, 255, 0.30);
	color:#fff;
}
.opacity { 
	background: rgba(0, 0, 0, 0.30);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	
}
.gradline-sidebar a.main-btn {
	padding: 12px 20px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	-khtml-border-radius:6px;
	border: 2px solid #33a242;
	background: #fff;
	color: #33a242 !important;
	font-weight: 700;
	margin: 12px auto;
	width: 78%;
	
}

.gradline-sidebar a.main-btn:hover {
	border: 2px solid #33a242;
	background: #33a242;
	color: #fff !important;
	
}


.krown-tabs .contents {
padding: 50px 0 6px;
}

/* Hide built-in ignition-deck Responsive menu */
@media all and (max-width: 979px) { #main-menu .responsive-menu { display: none !important; } }

/* Toggle Main menu and Supafly */
@media all and (max-width: 899px) {
	.sf-navicon-button {
        display: block !important;
    }
	#main-menu .top-menu,
	#main-menu {
        display: none;
    }    
}
@media all and (min-width: 900px) {
	#main-menu .top-menu,
	#main-menu {
        display: block !important;
    }
	.sf-navicon-button {
        display: none !important;
    }
}

.gradline-sidebar > div:first-child {
	width: 90%;
	padding: 12px;
    border: 2px solid #eee;
	border-bottom: 2px solid #ffc550;
	float: none;
    margin-bottom: .5em;
}

.sharify-container ul { 
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.sharify-container li {
  float: none;
  margin: 0;
  display: inline-block;
}

/*Jesse Overrides*/
.gradline-container {
    display: block;
    width: 100%;
    clear: both;
}

.gradline-main {
    width: 60%;
    display: inline-block;
}
.gradline-sidebar {
    width: 35%;
    display: inline-block;
    float: right;
}
.gradline-sidebar .krown-id-item {
    background: none;
    margin: 0;
    width: 90%;
    padding: 12px;
}

.gradline-sidebar .pie-holder {
    box-sizing: border-box;
}


.gradline-sidebar .pie-holder > .pie-canvas {
    width: 270px !important;
    height: 270px !important;
}

.krown-pie .pie-holder {
    border-color: #e5e5e5 !important;
}

.gradline-sidebar .krown-pie > container {
    overflow: visible;
}

.gradline-sidebar .krown-id-item ul {
    padding: 0;
    margin: .5em 0 0 0;
}
.gradline-sidebar .krown-id-item li { 
    padding: .45em 0;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
}
.gradline-sidebar .krown-id-item li span { 
    display: block;
    font-size: 1.5em;
} 

.gradline-sidebar .krown-id-item li .gradline_action{ 
	margin: 24px 0;
}

/*Sidebar and Lightbox for Ignition Deck*/
.alternative-lightbox .form-row.third.inline {
    margin-left: 0 !important;
    width: 50% !important;
}
.alternative-lightbox .form-row.left {
    display: none !important;
}

.idc_lightbox .btn-levels-container {
    display: table;
    width: 100%;
    margin-bottom: 1em;
}
.idc_lightbox .btn-levels-container > div {
    display: table-cell;
}
.idc_lightbox .btn-levels {
    border: 1px solid #33A242;
    color: #33A242;
    font-size: 14px;
    text-align: center;
    display: block;
    background: none;
    padding: .25em;
    margin: 0;
}

.idc_lightbox .btn-levels.chosen-level-btn {
    background: #33A242;
    color: white;
}

@media only screen and (min-width: 400px)  {
   .idc_lightbox .btn-levels {
        border: 2px solid #33A242;
        border-radius: 5em;
        font-size: 16px;
        width: 3em;
        height: 3em;
        padding: 0;
   } 
}

@media all and (max-width: 579px) {
	.gradline-sidebar {
		float: none;
		width: 100%;
	}
	
	.gradline-main {
		float: none;
		width: 100%;
	}


}

.gradline-next-step {
    display: block;
    background: #f2f2f2;
    width: 90%;
    padding: 12px;
    border: 2px solid #eee;
    margin-bottom: .5em;
}
.gradline-next-step header {
    color: #333;
    text-transform: uppercase;
}
.gradline-next-step p {
    color: #777;
    line-height: 1.3;
}

/*Account Page - Complete your GradLine*/
.gradline-sidebar h4 {
    font-size: 16px;
}

.gradline-sidebar p {
    font-size: 13px;
    margin-bottom: .5em;
}
.gradline-sidebar p:before {
  margin-right: 7px;
  font-size: 1.25em;
  top: 2px;
  position: relative;
}
.gradline-sidebar p.completed {
    color: green;
}

/*we need the widget to load the lightbox/checkout*/
/* so lets hide the fields we dont need*/
.gradline-sidebar .product-wrapper,
.gradline-sidebar .id-product-days-to-go,
.gradline-sidebar .id-product-days,
.gradline-sidebar .poweredbyID,
.gradline-sidebar .id-product-levels,
.gradline-sidebar .id-product-description,
.gradline-sidebar .id-product-proposed-end,
.gradline-sidebar .pledge {
    display: none;
}

/* Jesse Style*/
.gradline-main {
    position: relative;
    max-width: 500px;
}
.gradline-main h4 {
    font-size: 24px;
    font-weight: normal;
    line-height: 2;
}
.gradline-main h5 {
    color: #666;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 1em;
}
.gradline-main p {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}
.gradline-main p > a {
    color: #3BA1DA;
    text-decoration: underline;
    word-break: break-word;
}

.gradline-main .message {
    border: 1px solid #ffd780;
    background: #fff4d6;
    color: #8a5800;
    font-weight: normal;
    padding: 10px 20px;
}
.gradline-main .message > span:before {
    font-size: 1.25em;
    line-height: 1;
    margin-right: 5px;
    color: #8a5800;
}

#boxit-holder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #F8F8F8;
}
#boxit-holder > section {
    position: absolute;
    bottom: 80px;
    left: 10%;
    width: 80%;
    margin-top: -25%;
}
.boxit-header {
    display: inline-block;
    margin-top: 0 !important;
}
.boxit-cancel-btn {
    cursor: pointer;
    font-size: 22px;
    float: right;
    color: #999;
    line-height: 1.25;
    line-height: 1;
}

.gradline-sidebar .krown-id-item ul {
	top: 0;
	left: 0;
}
.boxit-button {
    padding: 10px 0;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    display: block;
    width: 75%;
/*    margin-left: auto;
    margin-right: auto;*/
    cursor: pointer;
    margin-bottom: 25px;
    background: #3BA1DA;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -khtml-border-radius:4px;
    font-weight: 700;
}

.transcript-radio-holder header {
    color: #3BA1DA;
    font-size: 1.25em;
    margin-bottom: .25em;
}
.transcript-radio-holder label {
    display: inline-block;
    margin-right: 10%;
}

.um-viewing .um-field-is_summary_submitted,
.um-viewing .um-field-are_transcripts_submitted,
.um-viewing .um-field-are_loans_submitted,
.um-viewing .um-field-paid_app_fee,
.um-viewing .um-field-agreed_terms {
	display: none !important;
}

.profile_primary,
a.profile_primary,
a.profile_primary:link,
.um-profile-note a {
	padding: 10px 0;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    display: block;
    width: 75%;
   margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-bottom: 25px;
    background: #3BA1DA;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -khtml-border-radius:4px;
    font-weight: 700;
    text-decoration: none;

}


.boxit-cancel {
    padding: 10px 30px;
    font-size: 16px;
    line-height: 21px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 20px;
    background: #666;
    color: #fff;
    font-weight: normal; 
}

/*Terms and Service Page*/
.terms-service-container {
    display: block;
    width: 80%;
    max-width: 400px;
    margin: 1em auto;
}

/*alt card style*/
.macho .gradlift-summary,
.macho .gradlift-loans,
.macho .gradlift-terms,
.macho .gradlift-fee,
.macho .gradlift-transcripts {
    background: #f2f2f2;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 4%;
    margin-bottom: 1em;
}
.macho .gradlift-summary h5,
.macho .gradlift-loans h5,
.macho .gradlift-terms h5,
.macho .gradlift-fee h5,
.macho .gradlift-transcripts h5 {
    color: #777;
    text-align:center;
    margin-top: 0;
    margin-bottom: 1em;
}
.macho .gradlift-summary .boxit-container,
.macho .gradlift-loans .boxit-container,
.macho .gradlift-terms .boxit-container,
.macho .gradlift-fee .boxit-container,
.macho .gradlift-transcripts .boxit-container,
.macho .alt-profilebutton-container { 
    margin: 0 auto;
    display: block;
    width: 80%;
    max-width: 400px;
}
.macho .gradlift-summary .boxit-button,
.macho .gradlift-loans .boxit-button,
.macho .gradlift-terms .boxit-button,
.macho .gradlift-fee .boxit-button,
.macho .gradlift-transcripts .boxit-button { 
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    margin-top: .5em;
}

#boxit-holder {
	
}

.um-viewing .um-field-school .um-field-label,
.um-viewing .um-field-current_school_dates .um-field-label,
.um-viewing .um-field-degreetype .um-field-label,
.um-viewing .um-field-major .um-field-label,
.um-viewing .um-field-school label,
.um-viewing .um-field-current_school_dates label,
.um-viewing .um-field-degreetype label,
.um-viewing .um-field-major label,
.um-viewing .um-field-college_2,
.um-viewing .um-field-didyouattendanothercollege_2,
.um-viewing .um-field-school_30 .um-field-label,
.um-viewing .um-field-current_school_dates_50 .um-field-label,
.um-viewing .um-field-degreetype_35 .um-field-label,
.um-viewing .um-field-major_36 .um-field-label,
.um-viewing .um-field-school_30 label,
.um-viewing .um-field-current_school_dates_50 label,
.um-viewing .um-field-degreetype_35 label,
.um-viewing .um-field-major_36 label,
.um-viewing .um-field-school_30_47 .um-field-label,
.um-viewing .um-field-school_30_47 label,
.um-viewing .um-field-current_school_dates_50_47 .um-field-label,
.um-viewing .um-field-current_school_dates_50_47 label,
.um-viewing .um-field-degreetype_35_48 .um-field-label,
.um-viewing .um-field-degreetype_35_48 label,
.um-viewing .um-field-major_36_49 .um-field-label,
.um-viewing .um-field-major_36_49 label {
	display: none !important;
}

.um-viewing .um-field-school .um-field-value,
.um-viewing .um-field-school.um-field,
.um-viewing .um-field-current_school_dates.um-field,
.um-viewing .um-field-degreetype.um-field,
.um-viewing .um-field-major.um-field,
.um-viewing .um-field-current_school_dates .um-field-value,
.um-viewing .um-field-degreetype .um-field-value,
.um-viewing .um-field-major .um-field-value,
.um-viewing .um-field-school_30 .um-field-value,
.um-viewing .um-field-current_school_dates_50 .um-field-value,
.um-viewing .um-field-degreetype_35 .um-field-value,
.um-viewing .um-field-major_36 .um-field-value,
.um-viewing .um-field-school_30.um-field,
.um-viewing .um-field-current_school_dates_50.um-field,
.um-viewing .um-field-degreetype_35.um-field,
.um-viewing .um-field-major_36.um-field,
.um-viewing .um-field-current_school_dates_50_47 .um-field-value,
.um-viewing .um-field-current_school_dates_50_47.um-field,
.um-viewing .um-field-degreetype_35_48 .um-field-value,
.um-viewing .um-field-degreetype_35_48.um-field,
.um-viewing .um-field-major_36_49 .um-field-value,
.um-viewing .um-field-major_36_49.um-field,
.um-viewing .um-field-school_30_47 .um-field-value,
.um-viewing .um-field-school_30_47.um-field
{
	padding: 0;
	margin-bottom: 0;
	margin: 0;
	text-align: center;
}

.um-field-label,
.um-profile.um-viewing .um-field-label { 
	border-bottom: none;
}

.um-viewing .um-field-major .um-field-value,
.um-viewing .um-field-major_36_49 .um-field-value,
.um-viewing .um-field-major_36 .um-field-value {
	padding-bottom: 12px;
	border-bottom: 2px solid #999;
	
}


.um-viewing .um-field-school .um-field-value,
.um-viewing .um-field-school_30_47 .um-field-value,
.um-viewing .um-field-school_30 .um-field-value {
	font-size: 18px;
	font-weight: 700;
	padding-top: 12px;
	border-top: 2px solid #999;
	text-align: center;
}
/**/