{% load humanize %}

<article class="krown-id-item account-backer-contribution-preview"
         {% if backed_student.backer_pledge_info %}
         data-toggle="tooltip"
         data-placement="top"
         title="Total Pledges: ${{backed_student.backer_pledge_info.total_pledged_amount|floatformat:2|intcomma}}"
         {% endif %}
         >
    <a class="fancybox-thumb" {%if backed_student.student_profile_link %} href="{% url 'profile' backed_student.student_profile_link %}" {% else %} onclick="return false;" {% endif %}>
        <figure class="img">
            <img src="{{ backed_student.student_profile_picture }}" width="510" height="510" alt="{{ backed_student.student_name }}" />
        </figure>
    </a>
    <div class="container">
        <a href="{% url 'profile' backed_student.student_profile_link %}">

        </a>
        <section class="content">
            ${{ backed_student.amount|floatformat:2|intcomma }}
            <br>
            {{ backed_student.student_name }}
            <br>
            {{ backed_student.creation_date }}

            {% if backed_student.comment %} "{{ backed_student.comment }}" {% endif %}

        </section>

    </div>
</article>