{% load humanize %}

<article class="krown-id-item account-backer-contribution-preview"
         {% if fund_received.pledge_info %}
         data-toggle="tooltip"
         data-placement="top"
         title="Total Pledges: ${{fund_received.pledge_info.total_pledged_amount|floatformat:2|intcomma}}"
         {% endif %}
         >
    <a class="fancybox-thumb" {%if fund_received.backer_profile_link %} href="{% url 'profile' fund_received.backer_profile_link %}" {% else %} onclick="return false;" {% endif %}>
        <figure class="img">
            <img src="{{ fund_received.backer_profile_picture }}" width="510" height="510" alt="{{ fund_received.backer_name }}" />
        </figure>
    </a>
    <div class="container">
        <a href="{% url 'profile' fund_received.backer_profile_link %}">

        </a>
        <section class="content">
            ${{ fund_received.amount|floatformat:2|intcomma }}
            <br>
            {{ fund_received.backer_name }}
            <br>
            {{ fund_received.creation_date }}

            {% if fund_received.comment %} "{{ fund_received.comment }}" {% endif %}

        </section>

    </div>
</article>