{% extends 'account/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block account_content %}
    <div class="um-account-main">
        <ul class="list-inline">
            <li style="vertical-align: top">
                <span class="um-account-icon uimob800-hide">
                    <i class="fa fa-university"></i>
                </span>
            </li>
            <li>
                <h4>
                    Backed Students: ${{ backer_pledge_info.total_pledged_amount|floatformat:2|intcomma }}
                </h4>

                <h4>
                    Number of backed students: {{ backer_pledge_info.number_of_students_pledged }}
                </h4>
            </li>
        </ul>

        {% for backed_student in backed_students %}
            {% include 'account/backed-student-preview.html' %}
        {% endfor %}


    </div>
{% endblock %}