{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!-- Main Wrapper Start -->
<div id="content" class="clearfix layout-fixed-width">
    <div class="clearfix wrapper">
        <div class="normal-content no-boxed">
            <div class="um um-profile um-viewing um-1101">
                <div class="um-form">
                    {% with False as is_edit_profile %}
                    {% include 'profile/profile-header.html' %}
                    {% endwith %}

                    {% include 'navigation.html' %}

                    <br>

                    {% block account_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- Inner Wrapper End -->
    </div>
    <!-- Main Wrapper End -->
</div>

{% endblock %}