{% extends 'account/base.html' %}
{% load staticfiles %}

{% block account_content %}
    <div class="um-account-main">

        <form method="POST" action="{% url 'account-disable-account' %}">

            {% csrf_token %}

            <br>
            <div class="um-col-alt">
                <div class="um-left um-half">
                    <input
                        style="background-color: red;"
                        type="submit"
                        value="Disable Account"
                        class="um-button btn-new-danger"
                        onclick="return confirm('Are you sure you want to disable your account?');"/>
                </div>
                <div class="um-right um-half  ">
                    <a href="{% url 'profile' profile_header.profile_link %}" class="um-button btn-new ">Cancel</a>
                </div>
            </div>

        </form>

    </div>
{% endblock %}