{% extends 'account/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block account_content %}
    <div class="um-account-main">
        <ul class="list-inline">
            <li style="vertical-align: top">
                <span class="um-account-icon uimob800-hide">
                    <i class="fa fa-university"></i>
                </span>
            </li>
            <li>
                <h4>
                    Funds Raised: ${{ pledge_info.total_pledged_amount|floatformat:2|intcomma }}
                </h4>

                <h4>
                    Backers: {{ pledge_info.number_of_pledges }}
                </h4>
            </li>
        </ul>

        {% for fund_received in funds_received %}
            {% include 'account/backer-contribution-preview.html' %}
        {% endfor %}


    </div>
{% endblock %}