{% extends 'account/base.html' %}
{% load staticfiles %}

{% block account_content %}
    <div class="um-account-main">

        <form method="POST" action="{% url 'account-general' %}">

            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="um-field um-field-first_name" data-key="first_name">
                <div class="um-field-label">
                    <label for="id_first_name">First Name</label>
                    <div class="um-clear"></div>
                </div>
                <div class="um-field-area">
                    {{ form.first_name }}
                </div>
                {{ form.first_name.errors }}
            </div>

            <div class="um-field um-field-last_name" data-key="last_name">
                <div class="um-field-label">
                    <label for="id_last_name">Last Name</label>
                    <div class="um-clear"></div>
                </div>
                <div class="um-field-area">
                    {{ form.last_name }}
                </div>
                {{ form.last_name.errors }}
            </div>

            <div class="um-field um-field-user_email" data-key="user_email">
                <div class="um-field-label">
                    <label for="{{ form.email.id_for_label }}" {% if form.email.errors %} class="errorlist" {% endif %}>E-mail Address</label>
                    <div class="um-clear"></div>
                </div>
                <div class="um-field-area">
                    {{ form.email }}
                </div>
                {{ form.email.errors }}
            </div>

            <div class="um-field um-field-user_email" data-key="user_email">
                <div class="um-field-label">
                    <label for="id_birthday">Birthday</label>
                    <div class="um-clear"></div>
                </div>
                <div class="um-field-area">
                    {{ form.birthday }}
                </div>
                {{ form.birthday.errors }}
            </div>

            <div class="um-field um-field-user_email" data-key="user_email">
                <div class="um-field-label">
                    <label for="id_street">Street</label>
                    <div class="um-clear"></div>
                </div>
                <div class="um-field-area">
                    {{ form.street }}
                </div>
                {{ form.street.errors }}
            </div>

            <div class="um-field um-field-user_email" data-key="user_email">
                <div class="um-field-label">
                    <label for="id_city">City</label>
                    <div class="um-clear"></div>
                </div>
                <div class="um-field-area">
                    {{ form.city }}
                </div>
                {{ form.city.errors }}
            </div>

            <div class="um-field um-field-user_email" data-key="user_email">
                <div class="um-field-label">
                    <label for="id_street">State</label>
                    <div class="um-clear"></div>
                </div>
                <div class="um-field-area dropdown">
                    {{ form.state }}
                </div>
                {{ form.state.errors }}
            </div>

            <div class="um-field um-field-user_email" data-key="user_email">
                <div class="um-field-label">
                    <label for="id_zip_code">Zip Code</label>
                    <div class="um-clear"></div>
                </div>
                <div class="um-field-area">
                    {{ form.zip_code }}
                </div>
                {{ form.zip_code.errors }}
            </div>

            <div class="um-field um-field-user_email" data-key="user_email">
                <div class="um-field-label">
                    <label for="id_country">Country</label>
                    <div class="um-clear"></div>
                </div>
                <div class="um-field-area dropdown">
                    {{ form.country }}
                </div>
                {{ form.country.errors }}
            </div>

            <div class="um-field um-field-user_email" data-key="user_email">
                <div class="um-field-label">
                    <label>Notification Frequency</label>
                    <div class="um-clear"></div>
                </div>
                <div class="um-field-area dropdown">
                    {{ form.notification_frequency }}
                </div>
                {{ form.notification_frequency.errors }}
            </div>

            {% if IS_REFERRAL_CODE_ENABLED %}
            <div class="um-field um-field-user_email" data-key="user_email">
                <div class="um-field-label">
                    <label for="{{ form.referral_code.id_for_label }}" {% if form.referral_code.errors %} class="errorlist" {% endif %}>Referral Code</label>
                    <div class="um-clear"></div>
                </div>
                <div class="um-field-area dropdown">
                    {{ form.referral_code }}
                </div>
                {{ form.referral_code.errors }}
            </div>
            {% endif %}
            <br>

            <div class="um-col-alt">
                <div class="um-left um-half"><input type="submit" value="Update" class="um-button btn-new" /></div>
                <div class="um-right um-half"><a href="{% url 'account-general' %}" class="um-button btn-new-danger">Cancel</a></div>
            </div>
        </form>
    </div>
{% endblock %}