{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Main Wrapper Start -->
    <div id="content" class="clearfix layout-right-sidebar container">
        <div class="clearfix wrapper">

            {% include 'blog/blog-section.html' %}

            <!-- Inner Wrapper End -->
        </div>
        <!-- Main Wrapper End -->
    </div>

{% endblock %}